<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.IndexDataMapper">

  <insert id="save" parameterType="com.bbd.wtyh.domain.IndexDataDO" >
    INSERT INTO `index_data` VALUES (
    #{createBy},#{createDate},#{updateBy},#{updateDate},
    #{area},#{reg_capital},#{companyQualification},#{companyName},#{staticRiskIndex},
    #{dynamicRiskIndex},#{legalRpt},#{companyType},
    #{regDate},#{reviewTime},#{isRise});
  </insert>

</mapper>