<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.TestMapper">


    <select id="list" parameterType="long" resultType="com.bbd.wtyh.entity.Test">
			select id, name, age from test
	</select>


    <!--<select id="findRoleByChildName" parameterType="long" resultType="string">-->
			<!--select re.url from children_resource cr , role_resource rr  ,resource re , user u-->
			<!--where  cr.role_resource_id=rr.id and re.id=rr.resource_id and cr.user_id=#{userid}-->
	<!--</select>-->

    <!--<select id="findRoleByName" parameterType="long" resultType="string">-->
				<!--select re.url from user_role ur ,role ro ,resource re ,  user u,-->
				<!--role_resource rr  where ro.id=ur.role_id and ro.id=rr.role_id -->
				<!--and rr.resource_id=re.id and ur.uid=#{userid}-->
	<!--</select>-->


</mapper>