<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyNewsDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CompanyNewsDO">
    <id column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="from_site" jdbcType="VARCHAR" property="fromSite" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    news_id, company_id, title, content, from_site, date, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
</mapper>