<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FundProductTypeDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.FundProductTypeDO">
    <id column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="product_type_name" jdbcType="VARCHAR" property="productTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    product_type_id, product_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_product_type
    where product_type_id = #{productTypeId,jdbcType=INTEGER}
  </select>
</mapper>