<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.GuaranteedInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.GuaranteedInfoDO">
    <result column="guarantee_company" jdbcType="INTEGER" property="guaranteeCompany" />
    <result column="guaranteed_company" jdbcType="INTEGER" property="guaranteedCompany" />
  </resultMap>
</mapper>