<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.InvestmentReturnLogisticDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.InvestmentReturnLogisticDO">
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="quit_number" jdbcType="INTEGER" property="quitNumber" />
    <result column="less_number" jdbcType="INTEGER" property="lessNumber" />
    <result column="between_number" jdbcType="INTEGER" property="betweenNumber" />
    <result column="greater_number" jdbcType="INTEGER" property="greaterNumber" />
  </resultMap>
</mapper>