<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.LoanBalanceDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.LoanBalanceDO">
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="mounth" jdbcType="INTEGER" property="mounth" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="agriculture_balance" jdbcType="REAL" property="agricultureBalance" />
    <result column="small_company_balance" jdbcType="REAL" property="smallCompanyBalance" />
  </resultMap>
</mapper>