<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PrivateFundTypeDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.PrivateFundTypeDO">
    <id column="type_id" jdbcType="TINYINT" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from private_fund_type
    where type_id = #{typeId,jdbcType=TINYINT}
  </select>
</mapper>