<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.QdlpProgressDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.QdlpProgressDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="foreign_shareholder" jdbcType="VARCHAR" property="foreignShareholder" />
    <result column="china_shareholder" jdbcType="VARCHAR" property="chinaShareholder" />
    <result column="quatas" jdbcType="REAL" property="quatas" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, foreign_shareholder, china_shareholder, quatas, progress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qdlp_progress
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
</mapper>