<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.QflpCompanyDOMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.QflpCompanyDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="scale" jdbcType="REAL" property="scale" />
    <result column="dollor_part" jdbcType="REAL" property="dollorPart" />
    <result column="rmb_part" jdbcType="REAL" property="rmbPart" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, scale, dollor_part, rmb_part
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qflp_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
</mapper>