<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.BuildingMapper">
  
  <select id="queryBuildings" parameterType="int" resultType="com.bbd.wtyh.domain.BuildingDO">
			select building_id buildingId,name,park_id parkId,
			       finance_company_number finComNum,finance_company_ratio ratio
			from building where park_id=#{park_id}  ;
	</select>
  
</mapper>