<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.BuildingMapper">
  
  <select id="queryBuildings" parameterType="int" resultType="com.bbd.wtyh.domain.BuildingDO">
			select b.building_id buildingId,b.name,b.park_id parkId,
			       b.finance_company_number finComNum,b.finance_company_ratio ratio
			from building b,park p where b.park_id=p.park_id and p.area_id=#{areaId};
	</select>
  
</mapper>