<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.BuildingMapper">

    <select id="queryBuildings" resultType="com.bbd.wtyh.domain.BuildingDO">

			select b.building_id buildingId,
			       b.name,b.park_id parkId,
			       b.img_url imgUrl ,
			       count(1) total ,
			       sum( IF(c.company_type not in(7,8),1,0) ) finComNum,
				   sum( IF(c.company_type not in(7,8),IF(c.risk_level in(2),1,0),0) ) importFocusNum,
				   sum( IF(c.company_type not in(7,8),IF(c.risk_level in(3),1,0),0) ) commonFocusNum
			from building b,park p ,
			     company_building cb ,
			     company c
			where c.company_id=cb.company_id and
			      cb.building_id=b.building_id and
			      b.park_id=p.park_id and p.area_id=#{areaId} and p.name=#{parkName}
			      and c.company_type is not null
			GROUP BY b.building_id ,b.name,b.park_id,b.img_url
			ORDER BY importFocusNum DESC,commonFocusNum DESC
	</select>


    <select id="buildingNews" resultType="com.bbd.wtyh.domain.CompanyNewsDO">
			select cn.news_id id,cn.company_id companyId,cn.title,cn.content,
			       cn.date,cn.url,cn.create_date createDate,cn.from_site fromSite
			       
		    from company_news cn , company_building cb 
		    
			where cb.company_id=cn.company_id 
				  and   cb.building_id=#{buildingId} 
				  
			order by cn.create_date desc
	</select>

    <select id="countByArea" resultType="com.bbd.wtyh.domain.BuildingNumberInAreaDO">
		SELECT
			park.area_id AS areaId,
			park.`name` AS name,
			COUNT(building.building_id) AS count
		FROM
			building
		LEFT JOIN park ON building.park_id = park.park_id
		GROUP BY
			building.park_id
	</select>

    <select id="companyGroupByArea" resultType="com.bbd.wtyh.domain.CompanyGroupByAreaDO">
		SELECT
			building.`name` AS buildingName,
			park.`name` AS area
		FROM
			building
		LEFT JOIN park ON building.park_id = park.park_id
-- 		LEFT JOIN company_building ON building.building_id = company_building.building_id
-- 		LEFT JOIN company ON company_building.company_id = company.company_id
	</select>

    <select id="countCompanyByArea" resultType="com.bbd.wtyh.domain.CountCompanyByAreaDO">
		SELECT
		park.`name` AS area,
		COUNT(company_building.company_id) AS count
	FROM
		building
	LEFT JOIN park ON building.park_id = park.park_id
	LEFT JOIN company_building ON building.building_id = company_building.building_id
	GROUP BY
		park.park_id
	</select>

</mapper>