<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyBackgroundMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CompanyBackgroundDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="background" jdbcType="TINYINT" property="background" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, background, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_background
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_background
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.bbd.wtyh.domain.CompanyBackgroundDO">
    update company_background
    <set>
      background=#{background},
      update_date=now(),
      update_by=#{updateBy}
    </set>
    where company_id=#{companyId}
  </update>

  <insert id="add" parameterType="com.bbd.wtyh.domain.CompanyBackgroundDO">
    INSERT INTO `company_background` (`company_id`, `background`, `create_date`, `create_by`)
    VALUES (#{companyId}, #{background}, now(), #{createBy});
  </insert>

  <delete id="deleteByCompanyId" parameterType="int">
    delete from company_background where company_id=#{companyId}
  </delete>
</mapper>