<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyAnalysisResultMapper">
    <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CompanyAnalysisResultDO">
        <id column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="analysis_result" jdbcType="TINYINT" property="analysisResult"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        company_analysis_result.company_id, analysis_result, name, company_analysis_result.create_by, company_analysis_result.create_date, company_analysis_result.update_by, company_analysis_result.update_date
    </sql>
    <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from company_color-->
    <!--where company_id = #{companyId,jdbcType=INTEGER}-->
    <!--</select>-->

    <select id="getSpectrumAnalysis" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>, DATE_FORMAT(exposure_date,'%Y-%m') AS exposureDate
        from company_analysis_result, company
        where analysis_result = #{type,jdbcType=INTEGER} AND company.company_id = company_analysis_result.company_id
        ORDER BY exposureDate DESC
    </select>

    <select id="getSpectrumAnalysisAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>, company.registered_capital, company.registered_capital_type
        from company_analysis_result, company
        where company.company_id = company_analysis_result.company_id
    </select>

    <select id="shMap" parameterType="java.lang.Integer" resultType="com.bbd.wtyh.domain.CompanyAnalysisResultDO">
       SELECT
            company.`name`,
            t1.longitude,
            t1.latitude,
            t1.analysis_result AS analysisResult,
            DATE_FORMAT(t1.exposure_date,'%Y-%m') AS exposureDate,
            static_risk_data.static_risk_index AS staticRiskIndex
        FROM (
                SELECT
                    company_analysis_result.company_id,
                    company_location_information.longitude,
                    company_location_information.latitude,
                    company_analysis_result.analysis_result,
                    company_analysis_result.exposure_date
                FROM
                    company_analysis_result
                LEFT JOIN company_location_information ON company_location_information.company_id = company_analysis_result.company_id
                WHERE
                    company_analysis_result.analysis_result = #{analysisResult}
                AND company_analysis_result.show_on_map = TRUE
            ) t1
        LEFT JOIN company ON company.company_id = t1.company_id
        LEFT JOIN static_risk_data ON company.`name` = static_risk_data.company_name
        WHERE static_risk_data.data_version=#{dateVersion}
    </select>


    <select id="queryRiskByBuilding" resultType="com.bbd.wtyh.domain.CompanyAnalysisResultDO">
        select DISTINCT c.company_id,c.`name` ,c.company_type companyType ,
                        cas.analysis_result analysisResult
        from company c
        LEFT JOIN company_building cb  on cb.company_id=c.company_id
        LEFT JOIN company_analysis_result cas on cas.company_id=c.company_id
        where cb.company_id=c.company_id and cb.building_id=#{buildingId} and c.company_type not in (7,8)
    </select>

    <select id="findCompanyAnalysisResultByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * from company_analysis_result
        WHERE company_id=#{companyId}
    </select>

</mapper>