<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyRiskMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CompanyRiskDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="risk_level" jdbcType="TINYINT" property="riskLevel" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, risk_level, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_risk
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
</mapper>