<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyCreditMapper">


	<select id="countCreditFailInfo" parameterType="Integer" resultType="int">
		select
			COUNT(*) AS total
		from company_credit_fail_info
		where
			task_id = #{taskId}

	</select>

	<select id="countCreditFailHistoryInfo" parameterType="Integer" resultType="int">
		select
		COUNT(*) AS total
		from company_credit_fail_history
		where
		task_id = #{taskId}

	</select>

	<select id="countCreditRawInfo" parameterType="Integer" resultType="int">
		select
		COUNT(distinct company_id) AS total
		from company_credit_raw_info
		where
		task_id = #{taskId}

	</select>

	<select id="countCreditRawHistoryInfo" parameterType="Integer" resultType="int">
		select
		COUNT(*) AS total
		from company_credit_raw_history
		where
		task_id = #{taskId}

	</select>

	<select id="getCompanyCreditFailByTaskId" parameterType="Integer" resultType="com.bbd.wtyh.domain.CompanyDO">
		SELECT
        `company_id` AS companyId,
        `company_name` AS name,
        `organization_code` AS organizationCode,
        `credit_code` AS creditCode,
        `create_by` AS createBy,
        `create_date` AS createDate
        FROM
        company_credit_fail_history
        WHERE
        1=1
        AND task_id= #{taskId}

	</select>

	<select id="getCreditFailInfoByTaskId" parameterType="Integer" resultType="com.bbd.wtyh.domain.TaskFailInfoDO">
		SELECT
		`task_id` AS taskId,
		`company_name` AS failName,
		CONCAT(a.code_value,':', a.code_des)  AS failReason
		FROM
		company_credit_fail_history LEFT JOIN
    	(select * from sys_code where code_group='credit_center' ) as a
    	on company_credit_fail_history.result_code=a.code_value
		WHERE
		1=1
		AND task_id= #{taskId}

	</select>

    <select id="getCreditCompany" parameterType="String" resultType="com.bbd.wtyh.domain.dto.CreditInfoDTO">
        select
         company_id as companyId,
        `name`
        from company
        where
        1=1
        <if test="companyName!=null" >
          AND `name` like CONCAT('%',#{companyName},'%')
        </if>
        order by `name`
        LIMIT 0,10
    </select>

    <select id="getCreditInfo" parameterType="String" resultType="com.bbd.wtyh.domain.dto.CreditInfoDTO">
        select
        distinct company_id as companyId,
        company_name as name,
		resource_name as resourceName,
		content
        from company_credit_raw_info
        where
        1=1
        <if test="companyName!=null" >
            AND company_name like CONCAT('%',#{companyName},'%')
        </if>
        <if test="dataType!=null" >
            AND resource_name IN
            <foreach item="item" index="index" collection="dataType" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
		<if test="dataType==null" >
			AND resource_name IN (
			select item from company_credit_point_items
			)
		</if>
        order by company_name
		<if test="pagination!=null" >
		LIMIT #{pagination.offset}, #{pagination.pageSize}
		</if>
    </select>

	<select id="countCreditInfo" parameterType="String" resultType="long">
		select
		count(
			distinct company_id
		)
		from company_credit_raw_info
		where
		1=1
		<if test="companyName!=null" >
			AND company_name like CONCAT('%',#{companyName},'%')
		</if>
		<if test="dataType!=null" >
			AND resource_name IN
			<foreach item="item" index="index" collection="dataType" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="dataType==null" >
			AND resource_name IN (
			select item from company_credit_point_items
			)
		</if>
	</select>

	<select id="getCreditDataItems" parameterType="String" resultType="com.bbd.wtyh.domain.CompanyCreditDataItemsDO">
		select
		 id,
		 resource_name AS resourceName,
		 data_item AS dataItem,
		 data_item_name AS dataItemName
		from company_credit_data_items
		where
		1=1
		order by resource_name
	</select>

	<update id="truncateCreditFailInfo">
		truncate table company_credit_fail_info
	</update>

	<select id="countCreditFailInfoBy999" parameterType="Integer" resultType="int">
		select
		COUNT(distinct company_id) AS total
		from company_credit_fail_info
		where
		task_id = #{taskId}
    	and result_code like '999%'


	</select>
    <select id="getResourceCounts" resultType="com.bbd.wtyh.domain.dto.CreditRiskDataDTO">
		select t1.item AS resourceName,IFNULL(t2.counts,0)AS counts from company_credit_point_items AS t1
		 LEFT JOIN
		(select resource_name AS resourceName,COUNT(1) AS counts  from company_credit_raw_info
		where 1=1
			<if test="companyId!=null" >
			AND company_id=#{companyId}
			</if>
			<if test="companyName!=null" >
				AND company_name=#{companyName}
			</if>
		GROUP BY resource_name ) AS t2
		ON t1.item=t2.resourceName
		order by t1.item;
	</select>

</mapper>