<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbd.wtyh.mapper.CompanyTagMapper">
    <insert id="saveCompanyTag" parameterType="java.util.List">
        INSERT INTO company_tag
        (`company_name`,`tag`,`dt`,`create_by`,`create_date`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.companyName},#{item.tag},#{item.dt},'system',now())
        </foreach>
    </insert>

    <delete id="deleteAllByQyxxTag">
        DELETE FROM company_tag
        WHERE EXISTS (select 1 from qyxx_tag where company_name=company_tag.company_name)
    </delete>
    <select id="selectFromQyxxTag" resultType="com.bbd.wtyh.domain.CompanyTagDO">
        SELECT
          company_name AS companyName,
          tag AS tagDesc,
          dt
        FROM `qyxx_tag` ORDER BY kid
        LIMIT #{pagination.begin}, #{pagination.pageSize}

    </select>
    <select id="countQyxxTag" resultType="java.lang.Integer">
        SELECT
          count(1) AS counts
        FROM `qyxx_tag`
    </select>
    <select id="getMaxDtFromQyxxTag" resultType="java.lang.Integer">
        select max(dt) AS dt
        FROM `qyxx_tag`
    </select>
    <select id="getMaxDtFromCompanyTag" resultType="java.lang.Integer">
        select max(dt) AS dt
        FROM company_tag
    </select>
</mapper>