<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyStaticRiskScoreMapper">

  <select id="getNewDataVersion" resultType="string">
    select data_version as dataVersion from static_risk_data group by data_version order by data_version desc limit 1
  </select>

  <select id="getOfflineCompanyInfo" resultType="com.bbd.wtyh.domain.CompanyStaticRiskScoreDO">
    SELECT
    c.company_id as companyId,
    c.name as name,
    s.real_control_risk_v2 as real_control_risk_v2,
    s.illegal_financing_risk_v2 as illegal_financing_risk_v2 ,
    s.short_risk_v2 as short_risk_v2,
    s.illegal_money_financing_risk_v2 as illegal_money_financing_risk_v2,
    s.person_structure_risk_v2 as person_structure_risk_v2 ,
    s.relation_in_risk_v2 as relation_in_risk_v2
    FROM company c, static_risk_data s where c.`name`=s.company_name and c.company_type=4 and s.data_version=#{newDataVersion}
  </select>

  <select id="getShanghaitarget" resultType="int" >

    SELECT count(1) FROM company_credit_raw_info WHERE company_id = #{companyID} and resource_name = #{resourceName}

  </select>

  <update id="updateStaticRisk" >
    update static_risk_data
    <set>
      static_risk_index=#{index}
    </set>
    where company_name=#{companyName} and data_version=#{dataVersion}
  </update>

</mapper>