<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyStaticRiskScoreMapper">

  <select id="getNewDataVersion" resultType="string">
    select data_version as dataVersion from static_risk_data group by data_version order by data_version desc limit 1
  </select>

  <select id="findByPage" parameterType="java.util.HashMap" resultType="com.bbd.wtyh.domain.CompanyStaticRiskScoreDO">
    SELECT
    c.company_id as companyId,
    c.name as name,
    s.real_control_risk_v2 as realControlRiskV2,
    s.illegal_financing_risk_v2 as illegalFinancingRiskV2 ,
    s.short_risk_v2 as shortRiskV2,
    s.illegal_money_financing_risk_v2 as illegalMoneyFinancingRiskV2,
    s.person_structure_risk_v2 as personStructureRiskV2 ,
    s.relation_in_risk_v2 as relationInRiskV2
    FROM company c, static_risk_data s where c.`name`=s.company_name and c.company_type=4 and s.data_version=#{newDataVersion} limit #{pagination.begin}, #{pagination.pageSize}
  </select>


  <select id="findByCompanyName" resultType="com.bbd.wtyh.domain.CompanyStaticRiskScoreDO">
    SELECT
    c.company_id as companyId,
    c.name as name,
    s.real_control_risk_v2 as realControlRiskV2,
    s.illegal_financing_risk_v2 as illegalFinancingRiskV2 ,
    s.short_risk_v2 as shortRiskV2,
    s.illegal_money_financing_risk_v2 as illegalMoneyFinancingRiskV2,
    s.person_structure_risk_v2 as personStructureRiskV2 ,
    s.relation_in_risk_v2 as relationInRiskV2
    FROM company c, static_risk_data s where c.`name`=s.company_name and c.company_type=4 and s.data_version=#{newDataVersion} and s.company_name=#{companyName}
  </select>

  <select id="getShanghaitarget" resultType="int" >

    SELECT count(1) FROM company_credit_raw_info WHERE company_id = #{companyId} and resource_name = #{resourceName}

  </select>

  <update id="updateStaticRisk" >
    update static_risk_data
    set  static_risk_index=#{index}
    where company_name=#{companyName} and data_version=#{dataVersion}
  </update>

  <update id="updatestaticrisk" >
    update index_data
    set  static_risk_index=#{index}
    where company_name=#{companyName}
  </update>


  <select id="findCompanyCount" resultType="int">
   SELECT
    count(1)
    FROM company c, static_risk_data s where c.`name`=s.company_name and c.company_type=4 and s.data_version=#{newDataVersion}
  </select>

  <select id="getWhiteCompany" resultType="int" >
SELECT
	count(1)
FROM
	(
		SELECT
			c.resource_name
		FROM
			company_credit_raw_info c,
			offline_financial_white o
		WHERE
			c.company_id = o.companyId
		AND o.companyId = #{companyId}
	) a
WHERE a.resource_name = #{resourceName1} OR a.resource_name = #{resourceName2} or a.resource_name = #{resourceName3}
  </select>


  <select id="getCreditInformationRisk" resultType="int" >
    SELECT
    count(1)
    FROM company_credit_raw_info where company_id = #{companyId} and resource_name = #{resourceName}
  </select>

  <select id="findCompany" resultType="com.bbd.wtyh.domain.CompanyStaticRiskScoreDO">
    SELECT
    c.company_id as companyId,
    c.name as name,
    s.real_control_risk_v2 as realControlRiskV2,
    s.illegal_financing_risk_v2 as illegalFinancingRiskV2 ,
    s.short_risk_v2 as shortRiskV2,
    s.illegal_money_financing_risk_v2 as illegalMoneyFinancingRiskV2,
    s.person_structure_risk_v2 as personStructureRiskV2 ,
    s.relation_in_risk_v2 as relationInRiskV2
     FROM company c, static_risk_data s where c.`name`=s.company_name and c.company_type=4 and s.data_version=#{newDataVersion} and c.company_id=#{companyId}
  </select>

  <update id="updateSubIndex" parameterType="com.bbd.wtyh.domain.BbdSubIndexDO">

    UPDATE static_risk_data set real_control_risk=#{real_control_risk} , illegal_financing_risk=#{illegal_financing_risk}
    , short_risk=#{short_risk} , illegal_money_financing_risk=#{illegal_money_financing_risk} , person_structure_risk=#{person_structure_risk} , relation_in_risk=#{relation_in_risk}
    where company_name=#{companyName} and data_version=#{newDataVersion}
  </update>

  <select id="getDateVersion" resultType="string">
    SELECT DISTINCT(data_version) from static_risk_data WHERE data_version LIKE '%2017%'
  </select>
</mapper>