<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CompanyInfoModifyMapper">
    <select id="autoComplete" resultType="string">
			SELECT `name`
			FROM company
			WHERE `name` LIKE concat("%", #{q},"%") AND company_type IN (1, 2, 3, 4, 5, 9, 11, 13, 6, 7, 10, 12)
			LIMIT 0, 5
	</select>

    <select id="queryCompany" resultType="com.bbd.wtyh.domain.CompanyInfoModify.CompanyInfo">
        SELECT
            company_id AS companyId,
            `name` AS `name`,
            risk_level AS currentLevel,
            legal_person AS legalPerson,
            registered_capital AS registeredCapital,
            company_type AS industry
        FROM
            company
        WHERE
            `name` = #{name}
            AND company_type IN (1, 2, 3, 4, 5, 9, 11, 13, 6, 7, 10, 12)
    </select>

    <select id="queryModifyCompany" resultType="string">
        SELECT
          `name` AS `name`
        FROM
          company_modify
        WHERE
          `name` = #{name}
    </select>

    <insert id="recordModify">
        INSERT INTO
            `company_modify` (`name`, `platName`,
            `beforeLevel`, `afterLevel`,
            `beforeOutLevel`, `beforeInnnerLevel`, `beforeLiveLevel`,
            `afterOutLevel`, `afterInnnerLevel`, `afterLiveLevel`,
            `beforeIndustry`, `afterIndustry`)
        VALUES
            (#{recordInfo.name}, #{recordInfo.platName},
            #{recordInfo.beforeLevel}, #{recordInfo.afterLevel},
            #{recordInfo.beforeOutLevel}, #{recordInfo.beforeInnnerLevel}, #{recordInfo.beforeLiveLevel},
            #{recordInfo.afterOutLevel}, #{recordInfo.afterInnnerLevel},  #{recordInfo.afterLiveLevel},
            #{recordInfo.beforeIndustry}, #{recordInfo.afterIndustry})
    </insert>
</mapper>