<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbd.wtyh.mapper.CompanyTagMapper">
    <insert id="saveCompanyTag" parameterType="java.util.List">
        INSERT INTO company_tag
        (`company_name`,`tag`,`dt`,`create_by`,`create_date`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.companyName},#{item.tag},#{item.dt},'system',now())
        </foreach>
    </insert>

    <update id="updateCompanyTypeFromQyxxTag">
        update  company,  (
        select * from qyxx_tag  where tag != '外滩线下理财企业'  and EXISTS (
        select 1 FROM
        (select company_name , count(*)  from qyxx_tag  group by company_name HAVING count(*)=1)  as t1
        where 1=1 and t1.company_name = qyxx_tag.company_name )
        )as t2
        set company.company_type=(CASE
                    WHEN t2.tag = '外滩网络借贷'
                        THEN 30
                    WHEN t2.tag = '外滩众筹'
                        THEN 31
                    WHEN t2.tag = '外滩网银'
                            THEN 32
                    WHEN t2.tag = '外滩支付'
                            THEN 33
                    WHEN t2.tag = '外滩预付卡'
                            THEN 34
                    WHEN t2.tag = '外滩融资租赁'
                            THEN 35
                    ELSE 4
            end ) ,company.update_date= now() where  company.company_type=4 and t2.company_name=company.`name`
    </update>

    <delete id="deleteAllByQyxxTag">
        DELETE FROM company_tag
        WHERE EXISTS (select 1 from qyxx_tag where company_name=company_tag.company_name)
    </delete>
    <select id="selectFromQyxxTag" resultType="com.bbd.wtyh.domain.CompanyTagDO">
        SELECT
          company_name AS companyName,
          tag AS tagDesc,
          dt
        FROM `qyxx_tag` ORDER BY kid
        LIMIT #{pagination.begin}, #{pagination.pageSize}

    </select>
    <select id="countQyxxTag" resultType="java.lang.Integer">
        SELECT
          count(1) AS counts
        FROM `qyxx_tag`
    </select>
    <select id="getMaxDtFromQyxxTag" resultType="java.lang.Integer">
        select IFNULL(max(dt),0) AS dt
        FROM `qyxx_tag`
    </select>
    <select id="getMaxDtFromCompanyTag" resultType="java.lang.Integer">
        select IFNULL(max(dt),0) AS dt
        FROM company_tag
    </select>

    <select id="countCompanyHaveOfflineType" resultType="java.lang.Integer">
        select count(DISTINCT company_name) as counts
                 from qyxx_tag where tag = '外滩线下理财企业'
                 AND  NOT EXISTS (select 1 from company where `name`=qyxx_tag.company_name)
    </select>
    <select id="queryCompanyHaveOfflineType" resultType="com.bbd.wtyh.domain.CompanyDO">
        select DISTINCT company_name as `name`,
               4 as companyType
         from qyxx_tag where tag = '外滩线下理财企业'
         AND  NOT EXISTS (select 1 from company where `name`=qyxx_tag.company_name)
         ORDER BY bbd_qyxx_id
         LIMIT #{pagination.begin}, #{pagination.pageSize}
    </select>

    <select id="countCompanyHaveOneTagExceptOfflineType" resultType="java.lang.Integer">
        select
           count(DISTINCT company_name) as counts
        from qyxx_tag  where tag != '外滩线下理财企业'  and EXISTS (
        select 1 FROM
        (select company_name , count(*)  from qyxx_tag  group by company_name HAVING count(*)=1)  as t1
        where 1=1 and t1.company_name = qyxx_tag.company_name )
        AND  NOT EXISTS (select 1 from company where `name`=qyxx_tag.company_name)

    </select>
    <select id="queryCompanyHaveOneTagExceptOfflineType" resultType="com.bbd.wtyh.domain.CompanyDO">
        select
            DISTINCT company_name as `name`,
          ( CASE
            WHEN tag = '外滩网络借贷'
                THEN 30
            WHEN tag = '外滩众筹'
                THEN 31
            WHEN tag = '外滩网银'
                    THEN 32
            WHEN tag = '外滩支付'
                    THEN 33
            WHEN tag = '外滩预付卡'
                    THEN 34
            WHEN tag = '外滩融资租赁'
                    THEN 35
            ELSE -1
            end ) AS companyType
        from qyxx_tag  where tag != '外滩线下理财企业'  and EXISTS (
        select 1 FROM
        (select company_name , count(*)  from qyxx_tag  group by company_name HAVING count(*)=1)  as t1
        where 1=1 and t1.company_name = qyxx_tag.company_name )
        AND  NOT EXISTS (select 1 from company where `name`=qyxx_tag.company_name)
        ORDER BY bbd_qyxx_id
        LIMIT #{pagination.begin}, #{pagination.pageSize}
    </select>


</mapper>