<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CrowdFundingCompanyMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="website_url" jdbcType="VARCHAR" property="websiteUrl" />
    <result column="funding_business_type" jdbcType="VARCHAR" property="fundingBusinessType" />
    <result column="success_number" jdbcType="INTEGER" property="successNumber" />
    <result column="funded_amout" jdbcType="REAL" property="fundedAmout" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, platform_name, website_url, funding_business_type, success_number, funded_amout, 
    create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crowd_funding_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
  
  
  
  <select id="allCompanys"  resultType="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
    select  c.company_id companyId,cfc.platform_name platformName,
            cfc.website_url websiteUrl,cfc.funding_business_type fundingBusinessType,
            IFNULL(cfc.success_number,0) successNumber, IFNULL(cfc.funded_amout,0) fundedAmout,
            cfc.create_by createBy,cfc.create_date createDate,
            cfc.update_by updateBy,cfc.update_date updateDate,
            a.name areaName,c.name companyName,cfc.operation_address address
    from crowd_funding_company cfc
         left join company c on cfc.company_id = c.company_id
         left join area a on a.area_id=c.area_id
  </select>

    <select id="queryCompany"  resultType="string">
        select * from (

                (select CONCAT(a.platform_name,'-',c.`name`) name
                from crowd_funding_company a
                LEFT JOIN company c
                on c.company_id=a.company_id
                where a.platform_name like CONCAT('%',#{keyword},'%') LIMIT 5)
            union
                (select CONCAT(a.platform_name,'-',c.`name`) name
                from crowd_funding_company a
                LEFT JOIN company c
                on c.company_id=a.company_id
                where c.`name` like CONCAT('%',#{keyword},'%')  LIMIT 5)

        ) un  limit 5
    </select>

    <insert id="saveForDataLand" parameterType="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
        INSERT INTO `crowd_funding_company_dataland` (`platform_name`, `company_name`, `website_url`,`funding_business_type`, `success_number`,`funded_amout`,`operation_address`,`registration_address`,`create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{platformName}, #{companyName}, #{websiteUrl},#{fundingBusinessTypeCN},#{successNumber},#{fundedAmout},#{address},#{areaName},#{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>
</mapper>