<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CrowdFundingCompanyMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="website_url" jdbcType="VARCHAR" property="websiteUrl" />
    <result column="funding_business_type" jdbcType="VARCHAR" property="fundingBusinessType" />
    <result column="success_number" jdbcType="INTEGER" property="successNumber" />
    <result column="funded_amout" jdbcType="REAL" property="fundedAmout" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, platform_name, website_url, funding_business_type, success_number, funded_amout, 
    create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crowd_funding_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
  
  
  
  <select id="allCompanys"  resultType="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
    select  c.company_id companyId,cfc.platform_name platformName,
            cfc.website_url websiteUrl,cfc.funding_business_type fundingBusinessType,
            IFNULL(cfc.success_number,0) successNumber, IFNULL(cfc.funded_amout,0) fundedAmout,
            cfc.create_by createBy,cfc.create_date createDate,
            cfc.update_by updateBy,cfc.update_date updateDate,
            a.name areaName,c.name companyName,cfc.operation_address address
    from crowd_funding_company cfc
         left join company c on cfc.company_id = c.company_id
         left join area a on a.area_id=c.area_id
  </select>

    <select id="queryCompany"  resultType="string">
        select * from (
                (select CONCAT(a.platform_name,'-',c.`name`) name
                from crowd_funding_company a
                LEFT JOIN company c
                on c.company_id=a.company_id
                where a.platform_name like CONCAT('%',#{keyword},'%') LIMIT 5)
            union
                (select CONCAT(IFNULL(a.platform_name,''),'-',c.`name`) name
                from  company c
                LEFT JOIN crowd_funding_company a
                on c.company_id=a.company_id
                where c.company_type = 6 and c.`name` like CONCAT('%',#{keyword},'%')  LIMIT 5)

        ) un  limit 5
    </select>

    <insert id="saveForDataLand" parameterType="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
        INSERT INTO `crowd_funding_company_dataland` (`platform_name`, `company_name`, `website_url`,`funding_business_type`, `success_number`,`funded_amout`,`operation_address`,`registration_address`,`create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{platformName}, #{companyName}, #{websiteUrl},#{fundingBusinessTypeCN},#{successNumber},#{fundedAmout},#{address},#{areaName},#{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>

    <delete id="deleteByPlatName" parameterType="java.lang.String">
        DELETE FROM crowd_funding_company_dataland WHERE `platform_name`=#{platformName}
    </delete>


    <select id="getCrowdfund" parameterType="com.bbd.wtyh.web.EasyExportExcel.ExportCondition" resultType="com.bbd.wtyh.domain.EasyExport.CrowdfundData">
        SELECT
            company.`name` AS `name`,
            company.company_type AS industry,
            crowd_funding_company.website_url AS url,
            company.legal_person AS legalPerson,
            company.registered_date AS registeredDate,
            company.registered_capital AS registeredCapital,
            company.registered_capital_type AS registeredCapitalType,
            company.address AS address,
            crowd_funding_company.platform_name AS platName
        FROM
            company,
            crowd_funding_company
        WHERE
            company.company_id = crowd_funding_company.company_id
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
        LIMIT #{pagination.offset}, #{pagination.pageSize}
    </select>

    <select id="countCrowdfund" resultType="long">
        SELECT
          COUNT(1)
        FROM
            company,
            crowd_funding_company
        WHERE
            company.company_id = crowd_funding_company.company_id
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
    </select>

    <select id="queryBaseOfPlat" resultType="com.bbd.wtyh.domain.CrowdFundingCompanyDO">
        select
            company_name AS companyName,
            platform_name AS platformName,
            website_url AS websiteUrl,
            funding_business_type AS fundingBusinessTypeCN,
            success_number AS successNumber,
            funded_amout AS fundedAmout,
            operation_address AS address,
            registration_address AS areaName
        from crowd_funding_company_dataland
        where create_date=(SELECT MAX(create_date) from crowd_funding_company_dataland)
    </select>

</mapper>