<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.CrowdFundingCommonMapper">

    <insert id="save" parameterType="com.bbd.wtyh.domain.CrowdFundingCommonDO">
            INSERT INTO `crowd_funding_common` (`reward`, `non_pulic_equity_financing`, `public_welfare`, `blend`,`type`,`create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{reward}, #{nonPulicEquityFinancing}, #{publicWelfare},#{blend},#{type},#{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>

    <delete id="deleteByType" parameterType="java.lang.String">
        DELETE FROM crowd_funding_common WHERE `type`=#{type}
    </delete>

    <select id="queryStatisticsData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            reward AS '奖励众筹',
            non_pulic_equity_financing AS '非公开股权融资',
            public_welfare AS '公益众筹',
            blend AS '混合众筹'
        FROM
            crowd_funding_common
        WHERE `type`=#{type}
        ORDER BY create_date DESC limit 1
    </select>

</mapper>