<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.TaskSuccessFailInfoMapper">


    <select id="getDataLoadingFailInfo" parameterType="java.util.HashMap"
            resultType="com.bbd.wtyh.domain.DataLoadingFailInfoDO">
        SELECT
        `id` ,
        `task_id` AS taskId,
        `table_name` AS tableName,
        `data_version`AS dataVersion,
        `create_by` AS createBy,
        `create_date` AS createDate,
        `update_by` AS updateBy,
        `update_date` AS updateDate
        FROM
        data_loading_fail_info
        WHERE
        1=1
        <if test="taskId != null">
            AND task_id = #{taskId}
        </if>

    </select>
    <insert id="addTaskSuccessFailInfo" parameterType="com.bbd.wtyh.domain.DataLoadingFailInfoDO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO `data_loading_fail_info` (`task_id`, `table_name`, `data_version`, `create_date`,  `create_by`)
        VALUES (#{taskId}, #{tableName}, #{dataVersion}, #{createDate}, #{createBy}
        );
    </insert>
</mapper>