<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.ExchangeCompanyMapper">


    <select id="queryExchangeCompanyCategory" resultType="java.util.Map">
			SELECT
				ec.`status`,
				COUNT(ec.company_id) as number
			FROM
				exchange_company ec, company c
			where
				type = 1 and ec.company_id=c.company_id and c.company_type=9
			GROUP BY
				ec.`status`
	</select>

	<select id="queryExchangeCompanyArea"  resultType="com.bbd.wtyh.domain.vo.ExchangeCompanyAreaVO">
			SELECT
				a.`name` as name,
				COUNT(c.company_id) as count
			FROM
				exchange_company ec
			LEFT JOIN company c ON ec.company_id = c.company_id
			LEFT JOIN area a ON c.area_id = a.area_id
			WHERE
				1 = 1
			AND c.area_id > 0
			and c.company_type=9
			and ec.type = 1
			GROUP BY
				a.area_id
	</select>

	<select id="queryExchangeCompanyByStatus" parameterType="java.lang.Integer" resultType="com.bbd.wtyh.domain.vo.ExchangeCompanyVO">
		SELECT
			c.`name` as name,
			ec.approve_department as approveDepartment ,
			ec.supervise_department as superviseDepartment,
			c.legal_person as legalPerson,
			ec.website as website
		FROM
			exchange_company ec
		LEFT JOIN company c ON ec.company_id = c.company_id
		<where>
			c.company_type=9
			<if test="status > 0">
				and ec.`status` = #{status}
			</if>
			and ec.type = 1
		</where>
	</select>

	<select id="queryExchangeCompanyListByAreaId" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.ExchangeCompanyVO">
		SELECT
			c.`name`,
			c.address,
			c.registered_capital as registeredCapital,
			c.legal_person as legalPerson,
			c.registered_date as registeredDate,
			ec.website as website,
			c.risk_level AS riskLevel
		FROM
			exchange_company ec
		LEFT JOIN company c ON ec.company_id = c.company_id
		LEFT JOIN area a ON c.area_id = a.area_id
		WHERE
			c.company_type=9
		<if test="type != null and type > 0">
			and ec.type = #{type}
		</if>
		<if test="areaName != null and areaName != ''">
			and a.name = #{areaName}
		</if>
		<if test="orderName == 'registeredCapital'">
			ORDER BY
			c.registered_capital
		</if>
		<if test="orderName == 'registeredDate'">
			ORDER BY
			c.registered_date
		</if>
		<if test="orderType == 'desc'">
			DESC
		</if>
		<if test="orderType == 'asc'">
			ASC
		</if>

	</select>


	<select id="getTradeMarket" parameterType="com.bbd.wtyh.web.EasyExportExcel.ExportCondition" resultType="com.bbd.wtyh.domain.EasyExport.TradeMarketData">
		SELECT
			company.`name` AS `name`,
			company.company_type AS industry,
			company.legal_person AS legalPerson,
			company.registered_date AS registeredDate,
			company.registered_capital AS registeredCapital,
			company.registered_capital_type AS registeredCapitalType,
			company.address AS address
		FROM
			company
		WHERE
			1=1
			<if test="exportCondition.industry!=null">
				and company.company_type = #{exportCondition.industry}
			</if>
			<if test="exportCondition.currentLevel!=null">
				and company.risk_level = #{exportCondition.currentLevel}
			</if>
			<if test="exportCondition.registeredCapitalMin!=null">
				and company.registered_capital >= #{exportCondition.registeredCapitalMin}
			</if>
			<if test="exportCondition.registeredCapitalMax!=null">
				and #{exportCondition.registeredCapitalMax} >= company.registered_capital
			</if>
			<if test="exportCondition.registeredDateMin!=null">
				and company.registered_date >= #{exportCondition.registeredDateMin}
			</if>
			<if test="exportCondition.registeredDateMax!=null">
				and #{exportCondition.registeredDateMax} >= company.registered_date
			</if>
			<if test="exportCondition.areaId!=null">
				and company.area_id = #{exportCondition.areaId}
			</if>
		LIMIT #{pagination.offset}, #{pagination.pageSize}
	</select>

	<select id="countTradeMarket" resultType="long">
		SELECT
			COUNT(1)
		FROM
			company
		WHERE
			1=1
			<if test="exportCondition.industry!=null">
				and company.company_type = #{exportCondition.industry}
			</if>
			<if test="exportCondition.currentLevel!=null">
				and company.risk_level = #{exportCondition.currentLevel}
			</if>
			<if test="exportCondition.registeredCapitalMin!=null">
				and company.registered_capital >= #{exportCondition.registeredCapitalMin}
			</if>
			<if test="exportCondition.registeredCapitalMax!=null">
				and #{exportCondition.registeredCapitalMax} >= company.registered_capital
			</if>
			<if test="exportCondition.registeredDateMin!=null">
				and company.registered_date >= #{exportCondition.registeredDateMin}
			</if>
			<if test="exportCondition.registeredDateMax!=null">
				and #{exportCondition.registeredDateMax} >= company.registered_date
			</if>
			<if test="exportCondition.areaId!=null">
				and company.area_id = #{exportCondition.areaId}
			</if>
	</select>

	<delete id="deleteByCompanyId">
		DELETE FROM exchange_company WHERE company_id=#{recordInfo.companyId}
	</delete>
</mapper>