<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FactoringMapper">


    <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.CommercialFactoringStatisticDO">
        <id column="year" jdbcType="INTEGER" property="year"/>
        
        <result column="balance" jdbcType="INTEGER" property="balance"/>
        <result column="total_amout" jdbcType="INTEGER" property="totalAmout"/>
        <result column="company_number" jdbcType="INTEGER" property="companyNumber"/>
        <result column="register_capital" jdbcType="INTEGER" property="registerCapital"/>
        <result column="domestic" jdbcType="INTEGER" property="domestic"/>
  		<result column="international" jdbcType="INTEGER" property="international"/>
        
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>

    </resultMap>
    
    
    <select id="companyCountByYear" resultMap="BaseResultMap" >
    	select * from commercial_factoring_statistic order by year asc ;
    </select>
    
    
    <select id="queryFactoringCompanys"  resultType="com.bbd.wtyh.domain.CompanyAndRiskDO" >
    	select c.company_id id,c.address,c.`name` companyName ,
    	       if(cfe.`foreign`,'外资','内资')  isForeign ,
    	       c.record_number recordNumber   
		from company c LEFT JOIN commercial_factoring_extra cfe 
		     on c.company_id=cfe.company_id 
		where c.company_type=10;
    </select>
    
    
    
    <select id="distribute" resultType="map" >
    	select IF(`foreign`,'外资企业','内资企业')  name , count(1) value from commercial_factoring_extra group by `foreign`    ;
    </select>
    
    <select id="geogDistribute" resultType="map" >
    	select     a.`name` name , count(1) value 
    	from       company c , area a 
    	where      c.company_type=10 and a.area_id=c.area_id 
    	group by   a.name;
    </select>
    
    
     <select id="countCapitalBySeason" resultType="com.bbd.wtyh.domain.CompanyCountDO" >
    	select season name,SUM(registered_capital) sum ,count(1) count  from 
	    	(
				select CONCAT(YEAR(c.registered_date),'Q',quarter( c.registered_date )) season , 
				       c.registered_capital  
				from company c where c.company_type=10
			) b 
		GROUP BY b.season ORDER BY season 
    </select>
    
    
   
</mapper>
