<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FinanceLeaseMapper">


    <select id="queryFinanceLeaseStatisticDO" parameterType="java.lang.Integer" resultType="com.bbd.wtyh.domain.FinanceLeaseStatisticDO">
		SELECT
			`year` 		    AS year,
			in_area_number  AS inAreaNumber,
			out_area_number AS outAreaNumber,
			company_number  AS companyNumber,
			balance 		AS balance,
			total_amout 	AS totalAmout,
			bad_amout 		AS badAmout,
			bad_ratio 		AS badRatio
		FROM
			finance_lease_statistic
		WHERE
			1=1
			<if test="year > 0">
				`year` = #{year};
			</if>
	</select>
	<select id="queryLeaseCompanyList" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseVO">
		SELECT
			c.`name` AS company,
			c.address AS address
		FROM
			company c
		LEFT JOIN finance_lease_risk flr ON c.company_id = flr.company_id
		LEFT JOIN company_analysis_result car ON c.company_id = car.company_id
		WHERE
			1 = 1
		AND c.company_type = 9
		<if test="areaId  > 0">
			AND c.area_id = #{areaId}
		</if>
		<if test="areaId == null">
			AND c.area_id = 2133
		</if>
		<if test="riskA == 1">
			AND flr.risk_status = 1
		</if>
		<if test="riskA == 0">
			AND flr.risk_status != 1
		</if>
		<if test="riskB == 1">
			OR flr.risk_status = 2
		</if>
		<if test="riskB == 0">
			AND flr.risk_status != 2
		</if>
		<if test="riskC == 1">
			OR flr.risk_status = 3
		</if>
		<if test="riskC == 0">
			AND flr.risk_status != 3
		</if>
		<if test="riskD == 1">
			OR flr.risk_status = 4
		</if>
		<if test="riskD == 0">
			AND flr.risk_status != 4
		</if>
		<if test="analysisResult  > 0">
			and car.analysis_result=#{analysisResult}
		</if>

	</select>

</mapper>