<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FinanceLeaseMapper">


    <select id="queryFinanceLeaseStatistic" parameterType="java.lang.Integer" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseStatisticVO">
		SELECT
			registered_capital_type as registeredCapitalType,
			sum(registered_capital) as registeredCapital,
			COUNT(*) as companyNumber,
			YEAR (registered_date) AS year
		FROM
			company
		WHERE
			registered_capital = 13
			AND registered_date IS NOT NULL
		GROUP BY
			registered_capital_type,
			year;
	</select>

	<select id="queryFinanceLeaseCompanyCategory" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT
			fle.free_trade_zone as freeTradeZone,
			COUNT(c.company_id) as companyNumber
		FROM
			company c
		LEFT JOIN finance_lease_extra fle ON c.company_id = fle.company_id
		WHERE
			c.company_type = 13
		<if test="year > 0">
			AND YEAR (registered_date) = #{year}
		</if>
		GROUP BY
			fle.free_trade_zone;
	</select>

	<select id="queryLeaseCompanyList" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseVO">
		SELECT
			flr.risk_type as riskType,
			flr.risk_status as riskStatus,
			car.analysis_result as status,
			c.`name` AS company,
			c.address AS address
		FROM
			finance_lease_risk flr
		LEFT JOIN company c ON c.company_id = flr.company_id
		LEFT JOIN company_analysis_result car ON c.company_id = car.company_id
		WHERE
			1 = 1
		AND c.company_type = 13
		<if test="areaId  > 0">
			AND c.area_id = #{areaId}
		</if>
		<if test="areaId == null">
			AND c.area_id = (
				SELECT
					area_id
				FROM
					area
				WHERE
					`name` = '黄浦区'
			)
		</if>
		<if test="riskA == 1">
			AND (flr.risk_type = 1 AND flr.risk_status = 1)
		</if>
		<if test="riskA == 0">
			AND (flr.risk_type = 1 AND flr.risk_status = 0)
		</if>
		<if test="riskB == 1">
			OR (flr.risk_type = 2 AND flr.risk_status = 1)
		</if>
		<if test="riskB == 0">
			OR (flr.risk_type = 2 AND flr.risk_status = 0)
		</if>
		<if test="riskC == 1">
			OR (flr.risk_type = 3 AND flr.risk_status = 1)
		</if>
		<if test="riskC == 0">
			OR (flr.risk_type = 3 AND flr.risk_status = 0)
		</if>
		<if test="riskD == 1">
			OR (flr.risk_type = 4 AND flr.risk_status = 1)
		</if>
		<if test="riskD == 0">
			OR (flr.risk_type = 4 AND flr.risk_status = 0)
		</if>
		<if test="analysisResult != null ">
			OR (flr.risk_type = 1 AND flr.risk_status = 1)
		</if>
	</select>

</mapper>