<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FinanceLeaseStatisticMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.FinanceLeaseStatisticDO">
    <id column="year" jdbcType="INTEGER" property="year" />
    <result column="in_area_number" jdbcType="INTEGER" property="inAreaNumber" />
    <result column="out_area_number" jdbcType="INTEGER" property="outAreaNumber" />
    <result column="company_number" jdbcType="INTEGER" property="companyNumber" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
    <result column="total_amout" jdbcType="INTEGER" property="totalAmout" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="bad_amout" jdbcType="INTEGER" property="badAmout" />
    <result column="bad_ratio" jdbcType="REAL" property="badRatio" />
  </resultMap>
  <sql id="Base_Column_List">
    year, in_area_number, out_area_number, company_number, balance, total_amout, create_by, 
    create_date, update_by, update_date, bad_amout, bad_ratio
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance_lease_statistic
    where year = #{year,jdbcType=INTEGER}
  </select>
</mapper>