<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.FinanceLeaseMapper">


	<select id="queryFinanceLeaseMinYear" resultType="int">
		SELECT
		MIN(YEAR(registered_date)) as year
		FROM
		company
		WHERE
		registered_capital = 13
		AND registered_date IS NOT NULL
	</select>

	<select id="queryFinanceLeaseMaxYear" resultType="int">
		SELECT
		MAX(YEAR(registered_date)) as year
		FROM
		company
		WHERE
		registered_capital = 13
		AND registered_date IS NOT NULL
	</select>

	<select id="queryCompanysAndCapital"  resultType="com.bbd.wtyh.domain.vo.CompanyCapitalVO">
		select m.year,count(0) companyNumber , SUM(IF(m.type=1,capital,0) ) rmb , SUM(IF(m.type=2,capital,0) ) us

		from(
		     select year(c.registered_date) year,
		            IFNULL(c.registered_capital , 0 ) capital ,
		            IFNULL(c.registered_capital_type,1 ) type
			 from company c
			 WHERE  company_type = 13 AND registered_date IS NOT NULL
		) m

		GROUP BY m.`year`
	</select>

	<select id="queryFinanceLeaseStatistic" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseStatisticVO">
		SELECT
			IFNULL(registered_capital_type,1) as registeredCapitalType,
			IFNULL(sum(registered_capital),0) as registeredCapital,
			COUNT(*) as companyNumber,
			YEAR (registered_date) AS year
		FROM
			company
		WHERE
		    company_type = 13
			AND registered_date IS NOT NULL
			<if test="year > 0">
				AND YEAR (registered_date) = #{year}
			</if>
			<if test="registeredCapitalType > 0">
				AND registered_capital_type = #{registeredCapitalType}
			</if>
		GROUP BY
			registered_capital_type,
			year
		ORDER BY
			year asc;
	</select>

	<select id="queryFinanceLeaseCompanyCategory" resultType="java.util.Map">
		SELECT
			fle.free_trade_zone as freeTradeZone,
			COUNT(c.company_id) as companyNumber
		FROM
			company c
		LEFT JOIN finance_lease_extra fle ON c.company_id = fle.company_id
		WHERE
			c.company_type = 13
		<if test="year > 0">
			AND YEAR(registered_date) <![CDATA[<=]]> #{year}
		</if>
		GROUP BY
			fle.free_trade_zone;
	</select>

	<select id="getYears" resultType="java.lang.String">
		SELECT DISTINCT
			YEAR(registered_date) AS year
		FROM
			company
		WHERE
			company_type = 13
			and registered_date is not null
		ORDER BY
		YEAR DESC
	</select>

	<select id="queryLeaseCompanyList" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseVO">
		SELECT
			c.`name` as companyName,
			c.address as address,
			f.risk_type as riskType,
			f.risk_status as riskStatus
		FROM
			company c
		LEFT JOIN finance_lease_risk f ON f.company_id = c.company_id
		LEFT JOIN area a ON a.area_id = c.area_id
		<where>
			AND c.company_type = 13
		<if test="areaName != null and areaName != '' and areaName != '全部'">
			AND a.name = #{areaName}
		</if>
		<if test="areaName == null or areaName == ''">
			AND a.name = '黄浦区'
		</if>
		</where>
	</select>


	<select id="queryLeaseCompanyList2" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseVO">
		SELECT
			company.company_id,
			a.risk_status AS riskStatusA,
			b.risk_status AS riskStatusB,
			c.risk_status AS riskStatusC,
			d.risk_status AS riskStatusD,
			company.`name` AS companyName,
			company.address AS address
		FROM
			company,
			area,
			finance_lease_risk a,
			finance_lease_risk b,
			finance_lease_risk c,
			finance_lease_risk d
		<where>
			company.area_id = area.area_id
			AND company.company_id = a.company_id
			AND company.company_id = b.company_id
			AND company.company_id = c.company_id
			AND company.company_id = d.company_id
			AND a.risk_type = 1
			AND b.risk_type = 2
			AND c.risk_type = 3
			AND d.risk_type = 4
			AND company.company_type = 13
		<if test="areaName != null and areaName != ''">
			AND area.name = #{areaName}
		</if>
		<if test="areaName == null or areaName == ''">
			AND area.name = '黄浦区'
		</if>
		<if test="riskA != null">
			AND a.risk_status = #{riskA}
		</if>
		<if test="riskB != null">
			AND b.risk_status = #{riskB}
		</if>
		<if test="riskC != null">
			AND c.risk_status = #{riskC}
		</if>
		<if test="riskD != null">
			AND d.risk_status = #{riskD}
		</if>
	  </where>
	</select>

	<select id="getTenancyByName" parameterType="java.util.Map" resultType="com.bbd.wtyh.domain.vo.FinanceLeaseVO">
		SELECT
			f.risk_type as riskType,
			f.risk_status as currentLevel
			c.`name` AS `name`,
			c.legal_person AS legalPerson,
			c.registered_capital AS registeredCapital,
			c.registered_capital_type AS registeredCapitalType,
			company.risk_level AS currentLevel
		FROM
			company c
		LEFT JOIN finance_lease_risk f ON f.company_id = c.company_id
		LEFT JOIN area a ON a.area_id = c.area_id
		WHERE
			c.company_type = 13
			AND
			c.`name` = #{name}
	</select>

</mapper>