<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.GuaranteeBalanceMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.GuaranteeBalanceDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guarantee_balance" jdbcType="INTEGER" property="guaranteeBalance" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="steel_balance" jdbcType="INTEGER" property="steelBalance" />
    <result column="composite_balance" jdbcType="INTEGER" property="compositeBalance" />
    <result column="policy_balance" jdbcType="INTEGER" property="policyBalance" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, guarantee_balance, year, month, number, steel_balance, composite_balance, policy_balance, 
    create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from guarantee_balance
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="listByYear" resultMap="BaseResultMap">
    select
    year,sum(amount) amount,sum(number) number,sum(steel_balance) steel_balance,
    sum(composite_balance) composite_balance,sum(policy_balance) policy_balance
    from guarantee_balance
    group by year

  </select>
</mapper>