<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.IndexDataMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.IndexDataDO">
    <id column="company_name" jdbcType="VARCHAR" property="companyName" />
    <id column="area" jdbcType="VARCHAR" property="area" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="reg_capital" jdbcType="VARCHAR" property="regCapital" />
    <result column="company_qualification" jdbcType="VARCHAR" property="companyQualification" />
    <result column="static_risk_index" jdbcType="REAL" property="staticRiskIndex" />
    <result column="dynamic_risk_index" jdbcType="REAL" property="dynamicRiskIndex" />
    <result column="legal_rpt" jdbcType="VARCHAR" property="legalRpt" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="reg_date" jdbcType="DATE" property="regDate" />
    <result column="review_time" jdbcType="VARCHAR" property="reviewTime" />
    <result column="is_rise" jdbcType="INTEGER" property="isRise" />
  </resultMap>
  <sql id="Base_Column_List">
    company_name, area, create_by, create_date, update_by, update_date, reg_capital, 
    company_qualification, static_risk_index, dynamic_risk_index, legal_rpt, company_type, 
    reg_date, review_time, is_rise
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from index_data
    where company_name = #{companyName,jdbcType=VARCHAR}
      and area = #{area,jdbcType=VARCHAR}
  </select>

  <select id="getNewestUpdateDate" resultType="date">
    SELECT DISTINCT update_date from index_data ORDER BY update_date desc;
  </select>

  <insert id="save" parameterType="com.bbd.wtyh.domain.IndexDataDO" >
    INSERT INTO `index_data` VALUES (
    #{createBy},#{createDate},#{updateBy},#{updateDate},
    #{area},#{regCapital},#{companyQualification},#{companyName},#{staticRiskIndex},
    #{dynamicRiskIndex},#{legalRpt},#{companyType},
    #{regDate},#{reviewTime},#{isRise});
  </insert>

  <update id="update" parameterType="com.bbd.wtyh.domain.IndexDataDO" >
    UPDATE `index_data` set
    create_by = #{createBy},
    create_date = #{createDate},
    update_by = #{updateBy},
    update_date = #{updateDate},
    reg_capital = #{regCapital},
    company_qualification = #{companyQualification},
    static_risk_index = #{staticRiskIndex},
    dynamic_risk_index = #{dynamicRiskIndex},
    legal_rpt = #{legalRpt},
    company_type = #{companyType},
    reg_date = #{regDate},
    review_time = #{reviewTime},
    is_rise = #{isRise}
    where company_name = #{companyName,jdbcType=VARCHAR}
    and area = #{area,jdbcType=VARCHAR};
  </update>
</mapper>