<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.IndustryProblemMapper">

    <insert id="save" parameterType="com.bbd.wtyh.domain.IndustryProblemDO">
        INSERT INTO `industry_problem` (`date`, `area`, `problem_plat_number`, `create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{date}, #{area}, #{problemPlatNumber}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>

    <delete id="deleteByDateArea" parameterType="java.lang.String">
        DELETE FROM industry_problem WHERE `area`=#{area} and `date`=#{date}
    </delete>

</mapper>