<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.LargeLoanMapper">
    <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.LargeLoanDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="borrower_id" jdbcType="INTEGER" property="borrowerId"/>
        <result column="lender_id" jdbcType="INTEGER" property="lenderId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, borrower_id, lender_id, create_by, create_date, update_by, update_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from large_loan
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="countLargeLoan" resultType="Integer">
        select count(1) from large_loan
    </select>

    <select id="listLargeLoan" resultMap="BaseResultMap">
        select lender_id,borrower_id from large_loan,company l,company b
        where large_loan.borrower_id=b.company_id and large_loan.lender_id=l.company_id and l.company_type=2
        <if test="orderByField != null">
            order by
            <choose>
                <when test="orderByField==1">
                    b.name
                </when>
                <when test="orderByField==2">
                    l.name
                </when>
                <when test="orderByField==3">
                    b.business_type
                </when>
                <when test="orderByField==4">
                    b.registered_capital is null, b.registered_capital_type asc , b.registered_capital
                </when>
            </choose>

            <choose>
                <when test="descAsc=='desc'">
                    desc
                </when>
                <otherwise>asc</otherwise>
            </choose>
        </if>
        limit #{pagination.begin},#{pagination.pageSize}

    </select>
</mapper>