<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.LoanBalanceMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.LoanBalanceDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="agriculture_balance" jdbcType="INTEGER" property="agricultureBalance" />
    <result column="small_company_balance" jdbcType="INTEGER" property="smallCompanyBalance" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, year, month, amount, number, agriculture_balance, small_company_balance, create_by,
    create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from loan_balance
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="listByYear" resultMap="BaseResultMap">
    select
    year,sum(amount) amount,sum(number) number,sum(agriculture_balance) agriculture_balance,
    sum(small_company_balance) small_company_balance
    from loan_balance
    group by year

  </select>
</mapper>