<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PABRelationMapper">

	<insert id="addPABRelation" parameterType="com.bbd.wtyh.domain.PABRelationDO">
		INSERT INTO park_and_building_relation(park_id, building_id, create_by, create_date, update_by, update_date) VALUES(#{parkId}, #{buildingId}, #{createBy}, SYSDATE(), #{createBy}, SYSDATE())
	</insert>

	<delete id="delPABRelationByParkId" parameterType="int">
		DELETE FROM park_and_building_relation WHERE park_id=#{parkId}
	</delete>

	<delete id="delPABRelationByBuildingId" parameterType="int">
		DELETE FROM park_and_building_relation WHERE building_id=#{buildingId}
	</delete>

	<select id="queryPABRelation" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(1) FROM park_and_building_relation
		<where>
			<if test="parkId != null and parkId != ''">
				park_id=#{parkId}
			</if>
			<if test="buildingId != null and buildingId != ''">
				AND building_id=#{buildingId}
			</if>
			<if test="parkName != null and parkName != ''">
				AND park_id=(SELECT park_id FROM park WHERE `name`=#{parkName} LIMIT 1)
			</if>
			<if test="buildingName != null and buildingName != ''">
				AND building_id=(SELECT building_id FROM building WHERE `name`=#{buildingName} LIMIT 1)
			</if>
		</where>
	</select>

	<delete id="delPABRelation" parameterType="java.util.Map">
		DELETE FROM park_and_building_relation WHERE park_id=#{parkId} AND building_id=#{buildingId}
	</delete>

</mapper>