<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.ParkMapper">


    <select id="parkImg"  resultType="string">
			select img_url from park p  where p.area_id=#{areaId} and name=#{parkName} LIMIT 1 ;
	</select>

	<select id="qeuryParkCompany"   parameterType="java.util.HashMap" resultType="com.bbd.wtyh.domain.ParkCompanyDo">
		SELECT bb.* FROM (
        SELECT aa.*, company_background.background FROM(
        SELECT base.* FROM (
        SELECT company.company_id AS companyId,
                    company.`name` AS companyName,
                    company.legal_person AS legalPerson,
                    company.company_type AS companyType,
                    if(isnull(company.risk_level)=1,9,company.risk_level) AS  riskLevel,
                    company.is_new AS isNew,
                    company.registered_capital AS registeredCapital,
                    company.registered_capital_type AS registeredCapitalType,
                    company.registered_date AS registeredDate,
                    company.address AS address,
                    building.building_id AS buildingId,
                    building.`name` AS buildingName
        FROM park,building,company_building,company
        WHERE park.area_id=#{areaId}
        <if test="parkName != null">
            AND park.name=#{parkName}
        </if>
              <if test="companyName != null">
                AND company.name LIKE CONCAT('%',#{companyName},'%')
              </if>
              AND  park.park_id=building.park_id
              AND building.building_id=company_building.building_id
              AND company_building.company_id=company.company_id
        UNION ALL
        select company.company_id AS companyId,
        company.`name` AS companyName,
        company.legal_person AS legalPerson,
        company.company_type AS companyType,
        if(isnull(company.risk_level)=1,9,company.risk_level) AS  riskLevel,
        company.is_new AS isNew,
        company.registered_capital AS registeredCapital,
        company.registered_capital_type AS registeredCapitalType,
        company.registered_date AS registeredDate,
        company.address AS address,
        null AS buildingId,
        null AS buildingName
        from company where area_id=#{areaId}
        <if test="companyName != null">
            AND company.name LIKE CONCAT('%',#{companyName},'%')
        </if>
        and company_id not in (
        select company_id from company_building where building_id in (select building_id from building where park_id=(select park_id from park where area_id=#{areaId}
        <if test="parkName != null">
            AND name=#{parkName}
        </if>))
        )
        ) AS base WHERE 1=1
        <if test="buildingName != null">
          AND base.buildingName LIKE CONCAT('%',#{buildingName},'%')
        </if>
        <if test="isNew != null">
            AND base.isNew=#{isNew}
        </if>
        <if test="companyType != null">
            AND base.companyType=#{companyType}
        </if>
        <if test="riskLevel != null">
            AND base.riskLevel=#{riskLevel}
        </if>
        ) AS aa LEFT JOIN
            (
            SELECT company_id,GROUP_CONCAT(background)background FROM company_background GROUP BY company_id
            ) AS
        company_background
        ON aa.companyId=company_background.company_id)AS bb
        WHERE 1=1
                <if test="background != null">
                    AND  bb.background LIKE CONCAT('%',#{background},'%')
                </if>
        ORDER BY bb.riskLevel ASC, bb.isNew DESC,bb.registeredCapital DESC
        <if test="beginNumber !=null">
            LIMIT
            #{beginNumber},#{pageSize}
        </if>

	</select>

    <select id="qeuryParkCompanyCount"   parameterType="java.util.HashMap" resultType="int">
        SELECT count(1) AS counts FROM (
        SELECT aa.*, company_background.background FROM(
        SELECT base.* FROM (
        SELECT company.company_id AS companyId,
        company.`name` AS companyName,
        company.legal_person AS legalPerson,
        company.company_type AS companyType,
        if(isnull(company.risk_level)=1,9,company.risk_level) AS  riskLevel,
        company.is_new AS isNew,
        company.registered_capital AS registeredCapital,
        company.registered_capital_type AS registeredCapitalType,
        company.registered_date AS registeredDate,
        company.address AS address,
        building.building_id AS buildingId,
        building.`name` AS buildingName
        FROM park,building,company_building,company
        WHERE park.area_id=#{areaId}
        <if test="parkName != null">
            AND park.name=#{parkName}
        </if>

        <if test="companyName != null">
            AND company.name LIKE CONCAT('%',#{companyName},'%')
        </if>
        AND  park.park_id=building.park_id
        AND building.building_id=company_building.building_id
        AND company_building.company_id=company.company_id
        UNION ALL
        select company.company_id AS companyId,
        company.`name` AS companyName,
        company.legal_person AS legalPerson,
        company.company_type AS companyType,
        if(isnull(company.risk_level)=1,9,company.risk_level) AS  riskLevel,
        company.is_new AS isNew,
        company.registered_capital AS registeredCapital,
        company.registered_capital_type AS registeredCapitalType,
        company.registered_date AS registeredDate,
        company.address AS address,
        null AS buildingId,
        null AS buildingName
        from company where area_id=#{areaId}
        <if test="companyName != null">
            AND company.name LIKE CONCAT('%',#{companyName},'%')
        </if>
        and company_id not in (
        select company_id from company_building where building_id in (select building_id from building where park_id=(select park_id from park where area_id=#{areaId}
        <if test="parkName != null">
            AND name=#{parkName}
        </if>
        ))
        )
        ) AS base WHERE 1=1
        <if test="buildingName != null">
            AND base.buildingName LIKE CONCAT('%',#{buildingName},'%')
        </if>
        <if test="isNew != null">
            AND base.isNew=#{isNew}
        </if>
        <if test="companyType != null">
            AND base.companyType=#{companyType}
        </if>
        <if test="riskLevel != null">
            AND base.riskLevel=#{riskLevel}
        </if>
        ) AS aa LEFT JOIN
            (
            SELECT company_id,GROUP_CONCAT(background)background FROM company_background GROUP BY company_id
            ) AS
        company_background
        ON aa.companyId=company_background.company_id)AS bb
        WHERE 1=1
        <if test="background != null">
            AND  bb.background LIKE CONCAT('%',#{background},'%')
        </if>
    </select>



</mapper>