<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.ParkMapper">


    <select id="parkImg"  resultType="string">
			select img_url from park p  where p.area_id=#{areaId} LIMIT 1 ;
	</select>

	<select id="qeuryParkCompany"   parameterType="int" resultType="com.bbd.wtyh.domain.ParkCompanyDo">
		SELECT company.company_id AS companyId,
			company.`name` AS companyName,
			company.legal_person AS legalPerson,
			company.company_type AS companyType,
			company.risk_level AS  riskLevel,
			company.is_new AS isNew,
			building.building_id AS buildingId,
			building.`name` AS buildingName
			FROM park,building,company_building,company
			WHERE park.area_id=#{areaId} AND  park.park_id=building.park_id
			AND building.building_id=company_building.building_id
			AND company_building.company_id=company.company_id
		ORDER BY building.building_id
	</select>



</mapper>