<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PlatRankDataMapper">

    <insert id="save" parameterType="com.bbd.wtyh.domain.PlatRankDataDO">
        INSERT INTO `plat_rank_data` (`plat_name`, `rank`, `amount`, `income_rate`, `loan_period`, `stay_still_of_total`, `plat_status`, `registered_address`, `area_id`, `create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{platName}, #{rank}, #{amount}, #{incomeRate},  #{loanPeriod},#{stayStillOfTotal},#{platStatus},#{registeredAddress},#{areaId},#{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>

    <delete id="deleteByPlatName" parameterType="java.lang.String">
        DELETE FROM plat_rank_data WHERE `plat_name`=#{platName}
    </delete>

</mapper>