<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PlatformNameInformationMapper">

    <select id="hasOrNotCompany" resultType="com.bbd.wtyh.domain.PlatformNameInformationDO">
			SELECT
				platform_name_information.company_id AS companyId,
				platform_name_information.platform_name AS platformName,
				company.`name`
			FROM
				platform_name_information
			LEFT JOIN company ON company.company_id = platform_name_information.company_id
			WHERE
				platform_name_information.platform_name = #{plat_name};
	</select>

	<select id="getPlatName" resultType="String">
		SELECT
			platform_name_information.platform_name AS platformName
		FROM
			platform_name_information
		LEFT JOIN company ON company.company_id = platform_name_information.company_id
		WHERE
		company.`name` = #{company_name};
	</select>

	<select id="associatedPlatName" resultType="com.bbd.wtyh.domain.PlatformNameInformationDO">
		SELECT
			platform_name_information.company_id AS companyId,
			platform_name_information.platform_name AS platformName
		FROM
			platform_name_information
		WHERE
			platform_name LIKE CONCAT("%", #{plat_name}, "%")
		LIMIT 0, 5
	</select>

	<select id="associatedCompanyName" resultType="com.bbd.wtyh.domain.PlatformNameInformationDO">
		SELECT
			platform_name_information.company_id AS companyId,
			platform_name_information.platform_name AS platformName,
			company. NAME
		FROM
			platform_name_information
		LEFT JOIN company ON company.company_id = platform_name_information.company_id
		WHERE
			company.`name` LIKE CONCAT("%", #{company_name}, "%")
		LIMIT 0, #{limit_size}
	</select>

	<insert id="addPlat" parameterType="java.util.List" >
		insert into platform_name_information (company_id,platform_name,create_by,create_date,update_by,update_date)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.companyId},#{item.platformName},'system',CURDATE(),'system',CURDATE())
		</foreach>
	</insert>

	<insert id="addPlatOne" parameterType="com.bbd.wtyh.domain.PlatformNameInformationDO" >
		insert into platform_name_information (company_id,platform_name,create_by,create_date,update_by,update_date)
		values
			(#{companyId},#{platformName},'system',CURDATE(),'system',CURDATE())
	</insert>
</mapper>
