<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PlatCoreDataMapper">

    <insert id="save" parameterType="com.bbd.wtyh.domain.PlatCoreDataDO">
        INSERT INTO `plat_core_data` (`plat_name`, `other_sum_amount`, `interest_rate`, `bid_num_stay_stil`, `bor_num_stay_stil`,
         `plat_data_six_month`, `company_name`, `top10_sum_amount`, `money_stock`, `day30_net_inflow`, `top1_sum_amount`, `amount_total`,
         `create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{platName}, #{otherSumAmount},#{interestRate},#{bidNumStayStil},#{borNumStayStil},#{platDataSixMonth},#{companyName},#{top10SumAmount},#{moneyStock},
         #{day30NetInflow},#{top1SumAmount},#{amountTotal},#{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>

    <delete id="deleteByPlatName" parameterType="java.lang.String">
        DELETE FROM plat_core_data WHERE `plat_name`=#{platName}
    </delete>

    <select id="getWangdai" resultType="com.bbd.wtyh.domain.EasyExport.WangdaiData">
        SELECT
            company.`name` AS `name`,
            company.company_type AS industry,
            company.legal_person AS legalPerson,
            company.registered_date AS registeredDate,
            company.registered_capital AS registeredCapital,
            company.registered_capital_type AS registeredCapitalType,
            company.address AS address
        FROM
            company,
            company_background
        WHERE
            company.company_id = company_background.company_id
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
        LIMIT #{pageBean.offset}, #{pageBean.pageSize}
    </select>

    <select id="countWangdai" resultType="long">
        SELECT
          COUNT(1)
        FROM
            company,
            company_background
        WHERE
            company.company_id = company_background.company_id
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
    </select>
</mapper>