<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PrepaidCompanyStatisticMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.PrepaidCompanyStatisticDO">
    <id column="year" jdbcType="INTEGER" property="year" />
    <result column="prepaid_company_number" jdbcType="INTEGER" property="prepaidCompanyNumber" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="register_capital" jdbcType="INTEGER" property="registerCapital" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    year, prepaid_company_number, amount, register_capital, create_by, create_date, update_by, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.bbd.wtyh.domain.PrepaidCompanyStatisticDO">
    select 
      year as year,
      amount as amount
    from prepaid_company_statistic
    where year = #{year,jdbcType=INTEGER}
  </select>
  
   <select id="prepaidAll" resultMap="BaseResultMap">
	    select pcs.year, c.prepaid_company_number, pcs.amount, c.register_capital, pcs.create_by, pcs.create_date, pcs.update_by,
                pcs.update_date
	    from prepaid_company_statistic pcs , (
	        select y ,count(1) prepaid_company_number ,sum(ctype*rc) register_capital from
            (select year(cp.registered_date) y , if(cp.registered_capital_type=2,6.3,1) ctype ,cp.registered_capital rc from company cp where cp.company_type=11) c
            GROUP BY y
	    ) c where c.y=pcs.year
	    order by year asc
   </select>
  
  
   <select id="prepaidCompanyAll" resultType="com.bbd.wtyh.domain.PrepaidCompanyDO">
	    select c.company_id companyId,
	           c.name companyName,
	           c.record_number recordNumber,
	           car.analysis_result analysisResult,
	           c.business_type businessType
	    
	    from company c left join company_analysis_result car 
	         on car.company_id=c.company_id	    
	    where c.company_type=11
	    
	    order by car.analysis_result desc
	    
   </select>


    <select id="getPerpaycardByCompanyName" resultType="com.bbd.wtyh.domain.CompanyInfoModify.CompanyInfo">
        SELECT
            car.analysis_result AS currentLevel,
            c.`name` AS `name`,
            c.legal_person AS legalPerson,
            c.registered_capital AS registeredCapital,
            c.registered_capital_type AS registeredCapitalType
        FROM
            company c
        LEFT JOIN company_analysis_result car ON car.company_id = c.company_id
        WHERE
            c.company_type = 11
        AND c.`name` = #{name}
    </select>
  

  
</mapper>