<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PrivateFundExtraMapper">
    <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.PrivateFundExtraDO">
        <id column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="paidin_capital" jdbcType="INTEGER" property="paidinCapital"/>
        <result column="managed_fund" jdbcType="INTEGER" property="managedFund"/>
        <result column="record_status" jdbcType="TINYINT" property="recordStatus"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
    </resultMap>

    <resultMap id="ExtraDTOResultMap" type="com.bbd.wtyh.domain.dto.PrivateFundCompanyDTO">
        <id column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="paidin_capital" jdbcType="INTEGER" property="paidinCapital"/>
        <result column="managed_fund" jdbcType="INTEGER" property="managedFund"/>
        <result column="record_status" jdbcType="TINYINT" property="recordStatus"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="registered_capital" jdbcType="INTEGER" property="registeredCapital"/>
        <result column="registered_date" jdbcType="DATE" property="registeredDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, website, paidin_capital, managed_fund, record_status, create_by, create_date, 
    update_by, update_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from private_fund_extra
        where company_id = #{companyId,jdbcType=INTEGER}
    </select>


    <select id="selectAll" resultMap="ExtraDTOResultMap">
        select
        a.company_id, a.website, a.paidin_capital, a.managed_fund,
        a.record_status,b.name,b.registered_date,b.registered_capital
        from private_fund_extra a,company b
        <where>
            a.company_id=b.company_id and b.company_type=5
            <if test="null != recordStatus">
               and  a.record_status=#{recordStatus}
            </if>
        </where>
        <if test="null != orderByField">

            order by
            <choose>
                <when test="orderByField==1">
                    b.registered_date is null,b.registered_date
                </when>
                <when test="orderByField==2">
                    b.registered_capital is null,b.registered_capital
                </when>
                <when test="orderByField==3">
                    a.paidin_capital is null,a.paidin_capital
                </when>
                <when test="orderByField==4">
                    a.managed_fund is null,a.managed_fund
                </when>
            </choose>

            <choose>
                <when test="descAsc=='desc'">
                    desc
                </when>
                <otherwise>asc</otherwise>
            </choose>

        </if>
    </select>

    <select id="countAllCompany" resultType="int">
        select count(*) count
        from private_fund_extra a,company b
        <where>
            a.company_id=b.company_id
        </where>
    </select>

    <select id="findByPage" parameterType="java.util.HashMap" resultMap="ExtraDTOResultMap">
        select a.company_id, a.website, a.paidin_capital, a.managed_fund,
        a.record_status,b.name,b.registered_date,b.registered_capital
        from private_fund_extra a,company b
        <where>
        a.company_id=b.company_id
        </where>
        order by a.company_id
        limit #{pagination.begin}, #{pagination.pageSize}
    </select>

    <select id="getPrivateOfferedFund" parameterType="com.bbd.wtyh.web.EasyExportExcel.ExportCondition" resultType="com.bbd.wtyh.domain.EasyExport.PrivateOfferedFundData">
        SELECT
            company.`name` AS `name`,
            company.company_type AS industry,
            company.legal_person AS legalPerson,
            company.registered_date AS registeredDate,
            company.registered_capital AS registeredCapital,
            company.registered_capital_type AS registeredCapitalType,
            company.address AS address
        FROM
            company
        WHERE
            1=1
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
        LIMIT #{pagination.offset}, #{pagination.pageSize}
    </select>

    <select id="countPrivateOfferedFund" resultType="long">
        SELECT
            COUNT(1)
        FROM
          company
        WHERE
            1=1
            <if test="exportCondition.industry!=null">
                and company.company_type = #{exportCondition.industry}
            </if>
            <if test="exportCondition.currentLevel!=null">
                and company.risk_level = #{exportCondition.currentLevel}
            </if>
            <if test="exportCondition.registeredCapitalMin!=null">
                and company.registered_capital >= #{exportCondition.registeredCapitalMin}
            </if>
            <if test="exportCondition.registeredCapitalMax!=null">
                and #{exportCondition.registeredCapitalMax} >= company.registered_capital
            </if>
            <if test="exportCondition.registeredDateMin!=null">
                and company.registered_date >= #{exportCondition.registeredDateMin}
            </if>
            <if test="exportCondition.registeredDateMax!=null">
                and #{exportCondition.registeredDateMax} >= company.registered_date
            </if>
            <if test="exportCondition.areaId!=null">
                and company.area_id = #{exportCondition.areaId}
            </if>
    </select>
</mapper>