<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PrivateFundStatisticMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.PrivateFundStatisticDO">
    <id column="type_id" jdbcType="TINYINT" property="typeId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, amount, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from private_fund_logistic
    where type_id = #{typeId,jdbcType=TINYINT}
  </select>
</mapper>