<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.PrivateFundSubtypeMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.PrivateFundSubtypeDO">
    <id column="sub_type_id" jdbcType="TINYINT" property="subTypeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    sub_type_id, type_name, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from private_fund_subtype
    where sub_type_id = #{subTypeId,jdbcType=TINYINT}
  </select>
</mapper>