<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.QdlpProgressMapper">
    <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.QdlpProgressDO">
        <id column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="foreign_shareholder" jdbcType="VARCHAR" property="foreignShareholder"/>
        <result column="china_shareholder" jdbcType="VARCHAR" property="chinaShareholder"/>
        <result column="quatas" jdbcType="REAL" property="quatas"/>
        <result column="progress" jdbcType="TINYINT" property="progress"/>
        <result column="architecture" jdbcType="VARCHAR" property="architecture"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, foreign_shareholder, china_shareholder, quatas, progress, architecture, create_by,
    create_date, update_by, update_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from qdlp_progress
        where company_id = #{companyId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from qdlp_progress
        order by index_num
    </select>


    <update id="update" parameterType="com.bbd.wtyh.domain.QdlpProgressDO">
        update qdlp_progress set  foreign_shareholder=#{foreignShareholder},china_shareholder=#{chinaShareholder},quatas=#{quatas},progress=#{progress},architecture=#{architecture},update_by=#{updateBy},update_date=#{updateDate}
        where company_id = #{companyId}
    </update>

    <insert id="add" parameterType="com.bbd.wtyh.domain.QdlpProgressDO">
        INSERT INTO `qdlp_progress` (`company_id`, `foreign_shareholder`, `china_shareholder`,`quatas`,`progress`,`architecture`, `create_by`, `create_date`, `update_by`, `update_date`)
        VALUES (#{companyId}, #{foreignShareholder}, #{chinaShareholder}, #{quatas}, #{progress}, #{architecture}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate});
    </insert>
</mapper>