<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.QflpCompanyMapper">
  <resultMap id="BaseResultMap" type="com.bbd.wtyh.domain.QflpCompanyDO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="scale" jdbcType="REAL" property="scale" />
    <result column="dollor_part" jdbcType="REAL" property="dollorPart" />
    <result column="rmb_part" jdbcType="REAL" property="rmbPart" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, scale, dollor_part, rmb_part, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qflp_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
      select
          qc.company_id,
          qc.scale, 
          qc.dollor_part,
          qc.rmb_part,
          qc.create_by,
          qc.create_date,
          qc.update_by,
          qc.update_date
      from
          qflp_company qc, company c
      where
          qc.company_id=c.company_id and c.company_type=5
      order by qc.index_num
  </select>

    <select id="selectQflpMaxIndexNum" resultType="int">
        SELECT ifnull(MAX(index_num),0) from qflp_company;
    </select>

  <update id="update" parameterType="com.bbd.wtyh.domain.QflpCompanyDO">
    update qflp_company set  dollor_part=#{dollorPart},scale=#{scale},rmb_part=#{rmbPart},update_by=#{updateBy},update_date=#{updateDate}
     where company_id = #{companyId}
  </update>

  <insert id="add" parameterType="com.bbd.wtyh.domain.QflpCompanyDO">
    INSERT INTO `qflp_company` (`company_id`, `dollor_part`, `scale`,`rmb_part`, `create_by`, `create_date`, `update_by`, `update_date`, `index_num`)
    VALUES (#{companyId}, #{dollorPart}, #{scale}, #{rmbPart}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{indexNum});
  </insert>

</mapper>