<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.RelationMapper">

    <insert id="addRelation" parameterType="java.util.List">
        INSERT INTO tbl_relation(target_company, investors, investee, relationship, investors_no, investee_no, create_by, create_date, update_date) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.targetCompany}, #{item.investors}, #{item.investee}, #{item.relationship}, #{item.investorsNo}, #{item.investeeNo}, 'system', SYSDATE(), SYSDATE())
        </foreach>
    </insert>

    <delete id="delRelationByTarget" parameterType="java.lang.String">
        DELETE FROM tbl_relation WHERE target_company=#{targetCompany}
    </delete>

</mapper>