<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.bbd.wtyh.mapper.RelationDataMapper">

	<select id="getRelationData" resultType="com.bbd.wtyh.domain.vo.RelationDataIndexVO" parameterType="java.util.HashMap">
		select 
			company_name as companyName,
			data_version as dataVersion,
			risk_date as riskDate,
			relation_person_num as relationPersonNum,
			company_person_num as companyPersonNum,
			child_company_num as childCompanyNum,
			child_company_detail as childCompanyDetail,
			one_person_num as onePersonNum,
			one_person_detail as onePersonDetail,
			one_company_num as oneCompanyNum,
			one_company_detail as oneCompanyDetail,
			two_person_num as twoPersonNum,
			two_person_detail as twoPersonDetail,
			two_company_num as twoCompanyNum,
			two_company_detail as twoCompanyDetail,
			three_person_num as threePersonNum,
			three_person_detail as threePersonDetail,
			three_company_num as threeCompanyNum,
			three_company_detail as threeCompanyDetail
		from relation_data
		<where>
			company_name=#{companyName} and data_version=#{dataVersion}
			<if test="areaCode != null and areaCode != ''">
				and area =#{areaCode};
			</if>
		</where>

	</select>
    <select id="queryRelation" resultType="com.bbd.wtyh.domain.vo.SearchResultVO" parameterType="java.util.HashMap">
		select 
			company_name as companyName,
			one_person_num + one_company_num as rel1,
			two_person_num + two_company_num as rel2,
			one_person_num + one_company_num + two_person_num + two_company_num + three_person_num + three_company_num + 1 as relSum
		from relation_data
		where company_name in 
		<foreach item="cn" collection="companyList" open="(" separator="," close=")">
			#{cn}
		</foreach>
		and data_version=#{dataVersion}
		<if test="areaCode != null and areaCode != ''">
			and area =#{areaCode};
		</if>
	</select>


	<insert id="save" parameterType="com.bbd.wtyh.domain.RelationDataDO" >
		INSERT INTO `relation_data`(
						create_by,
						create_date,
						update_by,
						update_date,
						area,
						company_name,
						data_version,
						risk_date,
						relation_person_num,
						company_person_num,
						child_company_num,
						child_company_detail,
						one_person_num,
						one_person_detail,
						one_company_num,
						one_company_detail,
						two_person_num,
						two_person_detail,
						two_company_num,
						two_company_detail,
						three_person_num,
						three_person_detail,
						three_company_num,
						three_company_detail
						) VALUES (
						#{createBy},
						#{createDate},
						#{updateBy},
						#{updateDate},
						#{area},
						#{companyName},
						#{dataVersion},
						#{riskDate},
						#{relationPersonNum},
						#{companyPersonNum},
						#{childCompanyNum},
						#{childCompanyDetail},
						#{onePersonNum},
						#{onePersonDetail},
						#{oneCompanyNum},
						#{oneCompanyDetail},
						#{twoPersonNum},
						#{twoPersonDetail},
						#{twoCompanyNum},
						#{twoCompanyDetail},
						#{threePersonNum},
						#{threePersonDetail},
						#{threeCompanyNum},
						#{threeCompanyDetail}
						);
	</insert>
</mapper>