<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.RiskCompanyMapper">

	<sql id="indexDataCondition">
		<where>
			<if test="area != null and area != ''">
				AND area=#{area}
			</if>
			<if test="minRegCapital != null and minRegCapital != ''">
				AND reg_capital<![CDATA[>=]]>#{minRegCapital}
			</if>
			<if test="maxRegCapital != null and maxRegCapital != ''">
				AND reg_capital<![CDATA[<=]]>#{maxRegCapital}
			</if>
			<if test="companyQualification != null and companyQualification != ''">
				AND company_qualification=#{companyQualification}
			</if>
			<if test="minReviewTime != null and minReviewTime != ''">
				AND review_time<![CDATA[>=]]>#{minReviewTime}
			</if>
			<if test="maxReviewTime != null and maxReviewTime != ''">
				AND review_time<![CDATA[<=]]>#{maxReviewTime}
			</if>
		</where>
	</sql>
	<sql id="indexDataContent">
		create_by as createBy,
		create_date as createDate,
		update_by as updateBy,
		update_date as updateDate,
		area as area,
		reg_capital as regCapital,
		company_qualification as companyQualification,
		company_name as companyName,
		static_risk_index as staticRiskIndex,
		dynamic_risk_index as dynamicRiskIndex,
		legal_rpt as legalRpt,
		company_type as companyType,
		review_time as reviewTime,
		is_rise as isRise,
		reg_date as regDate,
		DATE_FORMAT(reg_date,'%Y-%m-%d') as regDateStr
	</sql>

	<select id="getScanner" resultType="com.bbd.wtyh.domain.RiskCompanyInfoDO" parameterType="java.util.HashMap">
		select
			<include refid="indexDataContent"></include>
		from index_data
		<include refid="indexDataCondition"></include>
		order by static_risk_index asc
	</select>
	
	<select id="getScannerCount" parameterType="java.util.HashMap" resultType="int">
		select count(1) from index_data
		<include refid="indexDataCondition"></include>
	</select>
	
	<select id="getTop" parameterType="java.util.HashMap" resultType="com.bbd.wtyh.domain.RiskCompanyInfoDO">
		select
			<include refid="indexDataContent"></include>
		from index_data
		<include refid="indexDataCondition"></include>
		order by static_risk_index 
		<choose>
			<when test="sortType == '0'.toString()">
				asc
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
		limit #{pagination.begin}, #{pagination.pageSize}
	</select>
	
	<select id="getTopCount" parameterType="java.util.HashMap" resultType="int">
		select
			count(1)
		from index_data
		<include refid="indexDataCondition"></include>
	</select>
	
	<select id="getLastStaticRiskByCompanyName" parameterType="string" resultType="java.math.BigDecimal">
		select static_risk_index from static_risk_data where company_name=#{companyName} ORDER BY data_version DESC limit 1
	</select>

</mapper>