<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.StaticRiskMapper">
    <sql id="staticRiskContent">
		company_name as companyName,
		data_version as dataVersion,
		risk_date as riskDate,
		static_risk_index as stcRiskIndex,
		max_company_num as maxComNum,
		average_person_num as avgPerNum,
		one_level_person as oneLvlPer,
		real_control_risk as realConRisk,
		child_compnay_control_person_num as cldComConPerNum,
		child_child_control_num as cldCtlNum,
		core_child_company as coreCldCom,
		company_expand_risk as comExpRisk,
		control_child_company_num as ctlCldComNum,
		one_company_num as oneComNum,
		control_company as conCom,
		relation_in_risk as relInRisk,
		three_person_num as thrPerNum,
		two_company_num as twoComNum,
		core_two_company as coreTwoCom,
		illegal_financing_risk as illFinRisk,
		six_month_new_company_num as sixMonNewComNum,
		to_year_new_comapny_num as toYearNewComNum,
		six_month_new_company as sixMonNewCom,
		relation_company_sum as relCompanySum,
		short_risk as shortRisk,
		investment as investment,
		advisory as advisory,
		trade as trade,
		lease as lease,
		factoring as factoring,
		company_list as companyList,
		illegal_money_financing_risk as illMoneyFinRisk,
		undergraduate_num as underNum,
		uper_undergraduate_num as upperUnderNum,
		follow_undergraduate_num as flwUnderNum,
		recruitment_sum as rectSum,
		top5_recruitment_sum as top5RecSum,
		person_structure_risk as perStructRisk,
		area as areaCode
	</sql>

    <select id="queryLastStaticRisk" resultType="com.bbd.wtyh.domain.dto.StaticRiskDTO"
            parameterType="java.util.HashMap">
        select
        <include refid="staticRiskContent"></include>
        from static_risk_data
        where company_name=#{companyName}
        <if test="areaCode != null and areaCode != ''">
            and area=#{areaCode}
        </if>
        and risk_date like concat(#{riskDateStr}, '%');
    </select>

    <select id="queryIndStatistics" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '静态风险指数' as riskName,
        avg(static_risk_index) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>

    <sql id="ind_statistics">
		DATE_FORMAT(risk_date,'%Y-%m') as date
		from
		static_risk_data
		where
		  1=1
        <if test="areaCode != null and areaCode != ''">
            and area=#{areaCode}
        </if>

		group by date;
	</sql>
    <select id="queryComStsRCJG" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        person_structure_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsRCJG" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '人才结构风险' as riskName,
        avg(person_structure_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsFFRZWG" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        illegal_money_financing_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsFFRZWG" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '非法融资违规风险' as riskName,
        avg(illegal_money_financing_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsDQZL" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        short_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsDQZL" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '短期逐利风险' as riskName,
        avg(short_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsFFRZYS" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        illegal_financing_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsFFRZYS" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '非法融资衍生风险' as riskName,
        avg(illegal_financing_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsZXJJH" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        relation_in_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsZXJJH" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '中心积聚化风险' as riskName,
        avg(relation_in_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsGSKZLJ" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        company_expand_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsGSKZLJ" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '公司扩张路径风险' as riskName,
        avg(company_expand_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStsSJKZR" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        real_control_risk as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <select id="queryIndStsSJKZR" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        '实际控制人风险' as riskName,
        avg(real_control_risk) as avgRiskIndex,
        <include refid="ind_statistics"></include>
    </select>
    <select id="queryComStatistics" resultType="com.bbd.wtyh.domain.vo.StatisticsVO" parameterType="java.util.HashMap">
        select
        static_risk_index as riskIndex
        <include refid="com_statistics"></include>
    </select>
    <sql id="com_statistics">
		from
		static_risk_data
		where
		company_name=#{companyName}
        <if test="areaCode != null and areaCode != ''">
            and area=#{areaCode}
        </if>
	     and
		risk_date like concat(#{date}, '%');
	</sql>

    <!--始终获取 最新版本的 数据, 不知道使用子查询WHERE替换JION会不会有效率提升-->
    <select id="getSpectrumAnalysis" resultType="com.bbd.wtyh.domain.vo.StaticRiskSpectrumVO">
        SELECT
            t1.company_name AS NAME,
            t1.risk_date AS riskDate,
            t1.static_risk_index AS stcRiskIndex,
            t1.registered_capital
        FROM (
                SELECT
                    company_name,
                    risk_date,
                    static_risk_index,
                    registered_capital
                FROM
                  static_risk_data
                LEFT JOIN company ON static_risk_data.company_name = company.`name`
                WHERE
                    1 = 1
                    <if test="low != null">
                        and #{low} &lt;= static_risk_index
                    </if>
                    <if test="upper != null">
                        and static_risk_index &lt; #{upper}
                    </if>
            ) t1
        RIGHT JOIN (
            SELECT
              risk_date
            FROM
              static_risk_data
            ORDER BY
              risk_date DESC
            LIMIT 0, 1
        ) t2
        ON t1.risk_date = t2.risk_date
        ORDER BY static_risk_index DESC
        LIMIT 0, 200
    </select>

    <select id="queryDateVersion" resultType="java.lang.String" parameterType="java.util.HashMap">
        select
          data_version as date
        from
          relation_data
        where
            company_name=#{companyName}
        <if test="areaCode != null and areaCode != ''">
            and area=#{areaCode}
        </if>
        group by date
        order by date DESC;
    </select>

    <select id="maxDataVersion" resultType="java.lang.String">
        SELECT
			MAX(data_version)
		FROM
			static_risk_data
    </select>

    <insert id="save" parameterType="com.bbd.wtyh.domain.StaticRiskDataDO" >
        INSERT INTO `static_risk_data` VALUES ('system', '2016-08-08', '赵运枫', '2016-08-08', 'None', '上海三硕投资管理有限公司', '20160307', '2016-03-07', '21.1111', '1', '0.5', '张强|王佳妮', '10', '0', '0', '无', '0', '0', '0', '无', '0', '0', '0', '无', '50', '0', '0', '无', '1', '0', '1', '0', '0', '0', '0', '上海三硕投资管理有限公司', '100', '30', '0', '0', '0', '0', '无', '0', null, '0');
    </insert>
</mapper>