<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.SysAnalyzeMapper">

	<select id="getSysAnalyze" resultType="com.bbd.wtyh.domain.SysAnalyzeDO">
		select id as id,
			create_by as createBy,
			create_date as createDate,
			update_by as updateBy,
			update_date as updateDate,
			data_count as dataCount,
			(SELECT COUNT(1) FROM company) as companyCount,
			bug_count as bugCount
		from system_analyze limit 1;
	</select>
	
	<update id="updateSysAnalyze" parameterType="java.util.HashMap">
		update system_analyze set update_by='system', update_date=sysdate(), data_count=data_count+#{dataCount},bug_count=bug_count+#{bugCount}
	</update>

</mapper>