<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.UserBehaviorLogMapper">

    <sql id="TabName">
  `user_behavior_log`
  </sql>

    <!-- 查询用户记录列表, 用户为‘A’ -->
    <select id="selectUserBehaviorLogList" parameterType="java.util.HashMap" resultType="java.util.Map">
        SELECT
        <if test=" listing ==null ">  <!-- 查总条数的标记 -->
            COUNT(*) AS recordTotal
        </if>
        <if test=" listing !=null ">
            log_num AS logSN,  <!-- 日志序列号 -->
            operator AS loginName,  <!-- 用户名 -->
            ifnull(real_name ,'') AS realName,  <!-- 用户真实姓名 -->
            ifnull(area_code ,'') AS area,  <!-- 地区（代码） -->
            ifnull(department ,'') AS department,  <!-- 所属部门 -->
            ifnull(request_ip ,'') AS IpAddr,  <!-- 访问者IP -->
            ifnull(sys_name ,'') AS sysLocation,  <!-- 系统位置 -->
            ifnull(operation_desc ,'') AS opType,   <!-- 操作（类型） -->
            ifnull(request_desc ,'') AS opPage,   <!-- 操作页面 -->
            ifnull(log_content,'') AS logDetail,  <!-- 日志详情 -->
            ifnull(operation_date ,'') AS genesicDT  <!-- 操作发生的日期时间 -->
        </if>
        FROM
        <include refid="TabName"/>
        <where>
            <if test="excludeName != null">
                `operator` &lt;> #{excludeName}
            </if>
            <if test="userName != null">
                AND `operator` LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="areaCode !=null">  <!-- 接受前台的sys_code返回 -->
                AND `area_code` = #{areaCode}
            </if>
            <if test="sysCode !=null">  <!-- 需要以sys_name字段给前台返列表且接受前台的sys_code返回 -->
                AND `sys_code` = #{sysCode}
            </if>
            <if test="opTpCd !=null"> <!-- 需要以operation_desc字段给前台返列表且接受前台的operation_type返回 -->
                AND `operation_type` = #{opTpCd}
            </if>
            <if test="opPgCd !=null"> <!-- 需要以request_desc字段给前台返列表且接受前台的request_code返回 -->
                AND `request_code` = #{opPgCd}
            </if>
            <if test="beginTime !=null"> <!-- 开始时间 -->
                AND `operation_date` >= #{beginTime}
            </if>
            <if test="endTime !=null"> <!-- 结束时间 -->
                AND `operation_date` &lt;= #{endTime}
            </if>
            <if test="logContent !=null"> <!-- 日志序列号 -->
                AND `log_content` like '%${logContent}%'
            </if>
        </where>
        <if test="listing !=null ">
            ORDER BY operation_date
            <if test="orderBy !=null">
                DESC
            </if>
            LIMIT
            <if test="pageNumber !=null">
                #{pageNumber},
            </if>
            #{pageSize}
        </if>
    </select>

    <select id="selectlistUserOperaLog" parameterType="java.util.HashMap" resultType="java.util.Map">
        SELECT case when area.`name`='上海市' then '上海全区' else area.`name` end name,T.operation_type,T.countType,T.total from (select rs.area_code,group_concat(rs.operation_type) operation_type,group_concat(rs.countType) countType,total from
(
SELECT
	area_code,
	operation_type,COUNT(1) as countType
FROM
	user_behavior_log
	<where>
        <if test="excludeName != null">
            `operator` &lt;> #{excludeName}
        </if>
        <if test="beginTime !=null"> <!-- 开始时间 -->
            <![CDATA[ AND `operation_date` >= #{beginTime} ]]>
        </if>
        <if test="endTime !=null"> <!-- 结束时间 -->
            <![CDATA[ AND `operation_date` <= #{endTime} ]]>
        </if>
        <if test="sysCode !=null">
            AND `sys_code` = #{sysCode}
        </if>
    </where>
	GROUP BY area_code,operation_type HAVING area_code != '' ) rs LEFT JOIN (select area_code,count(operation_type) total
        from user_behavior_log
        <where>
            <if test="excludeName != null">
                `operator` &lt;> #{excludeName}
            </if>
            <if test="beginTime !=null"> <!-- 开始时间 -->
                <![CDATA[ AND `operation_date` >= #{beginTime} ]]>
            </if>
            <if test="endTime !=null"> <!-- 结束时间 -->
                <![CDATA[ AND `operation_date` <= #{endTime} ]]>
            </if>
            <if test="sysCode !=null">
                AND `sys_code` = #{sysCode}
            </if>
        </where>
        GROUP BY area_code ) b on rs.area_code= b.area_code
        group by area_code) T LEFT JOIN area on T.area_code=area.area_id
        where area.`name` is not null
        ORDER BY T.total desc
    </select>

    <select id="findHotPageList" parameterType="java.util.HashMap" resultType="com.bbd.wtyh.domain.vo.UseHotPage">
        SELECT
        case when T6.name='上海市' then '上海全区' else T6.name end name,T6.request_desc,T6.countCode,T5.sumCode
        FROM
        (
        SELECT
        NAME,
        SUM(countCode) sumCode
        FROM
        (
        SELECT
        area.`name`,
        T3.request_desc,
        T3.countCode
        FROM
        (
        SELECT
        T2.*
        FROM
        (
        SELECT
        T.*, CASE
        WHEN @mid = area_code THEN
        @ROW :=@ROW + 1
        ELSE
        @ROW := 1
        END rownum ,@mid := area_code mid
        FROM
        (
        SELECT
        area_code,
        request_desc,
        COUNT(1) AS countCode
        FROM
        user_behavior_log
        WHERE
        area_code != ''
        <if test="excludeName != null">
            AND `operator` &lt;> #{excludeName}
        </if>
        and request_code !=0
        <if test="beginTime !=null"> <!-- 开始时间 -->
            <![CDATA[ AND `operation_date` >= #{beginTime} ]]>
        </if>
        <if test="endTime !=null"> <!-- 结束时间 -->
            <![CDATA[ AND `operation_date` <= #{endTime} ]]>
        </if>
        <if test="sysCode !=null">
            AND `sys_code` = #{sysCode}
        </if>
        GROUP BY
        area_code,
        request_desc
        ORDER BY
        area_code ASC,
        countCode DESC
        ) AS T
        ) AS T2
        WHERE
        <![CDATA[ T2.rownum <= 10 ]]>
        ) T3
        LEFT JOIN area ON T3.area_code = area.area_id
        ) T4
        GROUP BY
        NAME
        ) T5
        LEFT JOIN (
        SELECT
        area.`name`,
        T3.request_desc,
        T3.countCode
        FROM
        (
        SELECT
        T2.*
        FROM
        (
        SELECT
        T.*, CASE
        WHEN @mid = area_code THEN
        @ROW :=@ROW + 1
        ELSE
        @ROW := 1
        END rownum ,@mid := area_code mid
        FROM
        (
        SELECT
        area_code,
        request_desc,
        COUNT(1) AS countCode
        FROM
        user_behavior_log
        WHERE
        area_code != ''
        <if test="excludeName != null">
            AND `operator` &lt;> #{excludeName}
        </if>
        and request_code !=0
        <if test="beginTime !=null"> <!-- 开始时间 -->
            <![CDATA[ AND `operation_date` >= #{beginTime} ]]>
        </if>
        <if test="endTime !=null"> <!-- 结束时间 -->
            <![CDATA[ AND `operation_date` <= #{endTime} ]]>
        </if>
        <if test="sysCode !=null">
            AND `sys_code` = #{sysCode}
        </if>
        GROUP BY
        area_code,
        request_desc
        ORDER BY
        area_code ASC,
        countCode DESC
        ) AS T
        ) AS T2
        WHERE
        <![CDATA[ T2.rownum <= 10 ]]>
        ) T3
        LEFT JOIN area ON T3.area_code = area.area_id
        ) T6 ON T5.`NAME`=T6.`name`
        WHERE T5.`NAME` is not null and T5.`NAME` != ''
        ORDER BY sumCode desc,countCode desc
    </select>


    <select id="findSearchList" parameterType="java.util.HashMap" resultType="com.bbd.wtyh.domain.vo.UserSearchVO">
        select (@numIndex:=@numIndex+1) numIndex,t1.keyWord,t1.countKeyWord
        from (SELECT
        keyWord,
        count(1) countKeyWord
        FROM
        (
        <if test="sysCode ==1">
            SELECT
            SUBSTRING_INDEX(
            log_content,
            '关键字：' ,- 1
            ) keyWord
            FROM
            user_behavior_log
            WHERE
            operation_desc = '搜索'
            AND sys_name = '前台'
            <if test="excludeName != null">
                AND `operator` &lt;> #{excludeName}
            </if>
        </if>
        <if test="sysCode ==2">
            SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(log_content,'用户名关键字:' ,- 1),'；',1) keyWord
            FROM
            user_behavior_log
            WHERE
            operation_desc = '搜索'
            AND sys_name = '后台' and log_content like '%用户名关键字%'
            <if test="excludeName != null">
                AND `operator` &lt;> #{excludeName}
            </if>
        </if>
        <if test="beginTime !=null"> <!-- 开始时间 -->
            <![CDATA[ AND `operation_date` >= #{beginTime} ]]>
        </if>
        <if test="endTime !=null"> <!-- 结束时间 -->
            <![CDATA[ AND `operation_date` <= #{endTime} ]]>
        </if>
        ) T,(select @numIndex:=0 from dual) t2
        GROUP BY
        T.keyWord ORDER BY countKeyWord desc,keyWord LIMIT 100) t1
    </select>
</mapper>