<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.wtyh.mapper.UserInfoMapper">
  <sql id="TabName">
  `user_mgment`
  </sql>
<!--  <resultMap id="BaseResultMap1" type="com.bbd.wtyh.domain.UserInfoTableDo">
    <id column="id" jdbcType="INT" property="id" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="user_type" jdbcType="CHAR" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>-->

  <insert id="saveU" parameterType="com.bbd.wtyh.domain.UserInfoTableDo" useGeneratedKeys="true"
          keyProperty="id" >
    INSERT INTO <include refid="TabName"/>(
    status, user_type, login_name, fore_pwd, back_pwd, real_name, fix_phone, mobile, email,
    department, area_code, create_date, create_by, update_date, update_by, fore_pwd_up_date, back_pwd_up_date  ) VALUES (
    #{status}, #{userType}, #{loginName}, #{forePwd}, #{backPwd}, #{realName}, #{fixPhone}, #{mobile}, #{email},
    #{department}, #{areaCode}, #{createDate}, #{createBy}, #{updateDate}, #{updateBy}, #{forePwdUpDate}, #{backPwdUpDate} );
  </insert>

  <update id="updateU" parameterType="com.bbd.wtyh.domain.UserInfoTableDo">
    UPDATE <include refid="TabName"/>
    <set>
      <if test="status != null"> status= #{status}, </if>
      <if test="userType != null"> user_type= #{userType}, </if>
      <if test="loginName != null"> login_name= #{loginName}, </if>
      <if test="forePwd != null"> fore_pwd= #{forePwd}, </if>
      <if test="backPwd != null"> back_pwd= #{backPwd}, </if>
      <if test="realName != null"> real_name= #{realName}, </if>
      <if test="fixPhone != null"> fix_phone= #{fixPhone}, </if>
      <if test="mobile != null"> mobile= #{mobile}, </if>
      <if test="email != null"> email= #{email}, </if>
      <if test="department != null"> department= #{department}, </if>
      <if test="areaCode != null"> area_code= #{areaCode}, </if>
      <if test="createDate != null"> create_date= #{createDate}, </if>
      <if test="createBy != null"> create_by= #{createBy}, </if>
      <if test="updateDate != null"> update_date= #{updateDate}, </if>
      <if test="updateBy != null"> update_by= #{updateBy}, </if>
      <if test="forePwdUpDate != null"> fore_pwd_up_date= #{forePwdUpDate}, </if>
      <if test="backPwdUpDate != null"> back_pwd_up_date= #{backPwdUpDate}, </if>
    </set>
    WHERE  id =#{id}
  </update>

  <!-- 以Id删除整条用户信息-->
  <select id="deleteUser"  parameterType="Integer">
    DELETE FROM <include refid="TabName"/>
    WHERE id =#{id}
  </select>

  <sql id ="selectList1" >
    id AS id,
    status AS status,
    user_type AS userType,
    login_name AS loginName,
    fore_pwd AS forePwd,
    back_pwd AS backPwd,
    real_name AS realName,
    fix_phone  AS fixPhone,
    mobile AS mobile,
    email AS email,
    department AS department,
    area_code AS areaCode,
    create_date AS createDate,
    create_by AS createBy,
    update_date AS updateDate,
    update_by AS updateBy,
    fore_pwd_up_date AS forePwdUpDate,
    back_pwd_up_date AS backPwdUpDate
  </sql>

  <!-- 以登录名查询整条用户信息, 用户为‘A’-->
  <select id="selectUserInfoAllByLoginName"  parameterType="String" resultType="com.bbd.wtyh.domain.UserInfoTableDo">
    SELECT  <include refid="selectList1"/>
    FROM  <include refid="TabName"/>
    WHERE `login_name`= #{loginName} LIMIT 1
  </select>

  <!-- 以id查询整条用户信息 -->
  <select id="selectUserAllInfoById"  parameterType="Integer" resultType="com.bbd.wtyh.domain.UserInfoTableDo">
    SELECT  <include refid="selectList1"/>
    FROM  <include refid="TabName"/>
    WHERE  `id` = #{id}  LIMIT 1
  </select>

  <!-- 根据用户名查询用户摘要信息, 用户为‘A’ -->
<!--  <select id="selectUserInfoSummaryByLoginName"  parameterType="String" resultType="java.util.Map">
    SELECT
    id, user_type, fore_pwd, back_pwd, fore_pwd_up_date, back_pwd_up_date
    FROM <include refid="TabName"/>
    WHERE  status ='A' AND login_name= #{loginName}
  </select>-->

  <!-- 查询用户记录总条数, 用户为‘A’ -->
<!--  <select id="selectUserInfoTotalNum"   resultType="Integer">
    SELECT  COUNT(*)   FROM <include refid="TabName"/>
    WHERE  status ='A'
  </select>-->


  <!-- 查询用户记录列表, 用户为‘A’ -->
  <select id="selectUserInfoList" parameterType="java.util.HashMap"  resultType="java.util.Map">
    SELECT
    <if test=" listing ==null ">  <!-- 查总条数的标记 -->
      COUNT(*) AS recordTotal
    </if>
    <if test=" listing !=null ">
      id AS id,
      ifnull(login_name ,'') AS loginName,
      ifnull(real_name ,'') AS realName,
      ifnull(department ,'') AS department,
      ifnull(fix_phone ,'')  AS fixPhone,
      ifnull(mobile ,'')  AS mobile,
      ifnull(email,'') AS email,
      ifnull(create_by ,'') AS createBy,
      ifnull(status ,'') AS userStatus,
      ifnull(user_type ,'') AS userType,
      ifnull(area_code ,'') AS areaCode
    </if>
    FROM <include refid="TabName"/>
    <where> id != 1
      <if test="userStatus !=null">
        AND `status` = #{userStatus}
      </if>
      <if test="userType !=null">
        AND `user_type` = #{userType}
      </if>
      <if test="areaCode !=null">
        AND `area_code` = ${areaCode}
      </if>
      <choose>
        <when test="loginName !=null">
          AND  `login_name` LIKE CONCAT('%',#{loginName},'%')
        </when>
        <when test="realName !=null">
          AND  `real_name` LIKE CONCAT('%',#{realName},'%')
        </when>
        <when test="department !=null">
          AND  `department` LIKE CONCAT('%',#{department},'%')
        </when>
      </choose>
    </where>
    ORDER BY update_date DESC
    <if test="listing !=null ">
      LIMIT
      <if test="pageNumber !=null">
        #{pageNumber},
      </if>  #{pageLimit}
    </if>
  </select>


  <!-- 构建用户模板, 用户为‘A’ -->
  <select id="selectUserTemplate"   parameterType="java.util.HashMap"  resultType="java.util.Map">
    SELECT
    id AS id,
    login_name AS loginName
    FROM  <include refid="TabName"/>
    WHERE id != 1
    AND `login_name` LIKE '%${loginName}%'
    <if test="userTypeStr !=null">
      AND `user_type` = #{userTypeStr}
    </if>
    LIMIT 5
  </select>


  <!-- 生成上海市内的区域代码表, 用户为‘A’ -->
  <select id="selectShanghaiAreaCodeTable"   resultType="java.util.Map">
    SELECT
    area_id AS areaId,
    name AS cityName
    FROM  area
    WHERE `city_id` = '104'
  </select>


  <!-- 查询用户密码失效周期 -->
  <select id="selectPwdLapseCycle"  parameterType="String" resultType="Integer">
    SELECT
    value1
    FROM user_misc_parameter
    WHERE  `para_id` =1
  </select>

  <!-- 更新用户密码失效周期 -->
  <select id="updatePwdLapseCycle"  parameterType="Integer">
    UPDATE user_misc_parameter
    SET value1 =#{valueA}
    WHERE  `para_id` =1
  </select>

</mapper>

  <!--  &lt;!&ndash; 根据用户名和前后台类型查询用户密码 &ndash;&gt;
    <select id="selectUserPassword"  parameterType="String" resultType="String">
      SELECT fore_pwd, back_pwd FROM <include refid="TabName"/>
      WHERE  status ='A' AND login_name= #{loginName} AND user_type = #{type}
    </select>-->

  <!-- 根据用户id查询单条记录  -->   <!-- 待改进
  <select id="selectUserInfoSummaryByLoginName"  parameterType="String" resultType="java.util.Map">
    SELECT * FROM <include refid="TabName"/>
    WHERE  status ='A' AND login_name= #{loginName}

    select  count(*) from <include refid="TabName"/>;
  </select>

select  count(*) from
  -->

<!--
    <select id="getPassword" resultType="string">
		select password from user where loginName=#{loginName}
	</select>

    <select id="getUpdateDate" resultType="java.util.Date">
		select update_date from user where loginName=#{loginName}
	</select>

  <update id="updatePassword">
    update user set password=#{password},update_date=now() where loginName=#{loginName}
  </update>
-->
