<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.bbd.wtyh.**.controller"/>
    <context:property-placeholder location="classpath:config/*.properties"/>

    <bean id="userLogInterceptor" class="com.bbd.wtyh.log.user.interceptor.UserLogInterceptor">
        <property name="operationSys" value="front"/>
    </bean>

    <mvc:interceptors>

        <mvc:interceptor>
            <!-- 对所有的请求拦截使用/**  -->
            <mvc:mapping path="/**"/>
            <ref bean="userAccessInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/third-party/*"/>
            <ref bean="loginInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <!-- 对所有的请求拦截使用/**  -->
            <mvc:mapping path="/**"/>
            <ref bean="userLogInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="userAccessInterceptor"
          class="com.bbd.sys.service.UserAccessApiInterceptor">
    </bean>

    <bean id="loginInterceptor" class="com.bbd.sys.service.LoginInterceptor"/>


    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="0"/>
        <property name="basenames">
            <list>
                <value>classpath:i18n/messages</value>
            </list>
        </property>
    </bean>
    <!-- 框架统一处理将对象转json @responsebody @requestbody 标签 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="common/error"/>
        <property name="exceptionAttribute" value="ex"/>
    </bean>

    <bean id="handlerMapping"
          class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html; charset=utf-8"/>
        <property name="cache" value="true"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

</beans>